﻿@model RecurringOrderEditViewModel

<div class="group-header account-header recurring-header">
	@Html.StringResource("account.aspx.35")
</div>

@using(Html.BeginForm())
{
	@Html.HiddenFor(m => Model.RecurringOrderId)

	<div class="recurring-address-control">
		@Html.Partial(ViewNames.EditAddressPartial, Model.Address)
	</div>

	if(Model.RequiresCreditCardForm)
	{
		<div class="card-form">
			<div class="form-group">
				<label>
					<span>@Html.LabelFor(m => m.CreditCard.Name)</span>
				</label>
				@Html.EditorFor(m => m.CreditCard.Name, new
				   {
					   htmlAttributes = new
					   {
						   @class = "form-control",
						   maxLength = 100
					   }
				   })
				@Html.ValidationMessageFor(m => m.CreditCard.Name)
			</div>
			<div class="form-group">
				<label>
					<span>@Html.LabelFor(m => m.CreditCard.Number)</span>
				</label>
				@Html.EditorFor(m => m.CreditCard.Number, new
				   {
					   htmlAttributes = new
					   {
						   @class = "form-control",
						   maxLength = 20
					   }
				   })
				@Html.ValidationMessageFor(m => m.CreditCard.Number)
			</div>
			<div class="form-group">
				<label>
					<span>@Html.LabelFor(m => m.CreditCard.CardType)</span>
				</label>
				@Html.DropDownListFor(m => m.CreditCard.CardType, Model.CardTypeOptions, new
				   {
					   @class = "form-control"
				   })
			</div>
			<div class="form-group">
				<label>
					<span>@Html.LabelFor(m => m.CreditCard.ExpirationMonth)</span>
				</label>
				@Html.DropDownListFor(m => m.CreditCard.ExpirationMonth, Model.ExpirationMonthOptions, new
				   {
					   @class = "form-control"
				   })
				@Html.DropDownListFor(m => m.CreditCard.ExpirationYear, Model.ExpirationYearOptions, new
				   {
					   @class = "form-control"
				   })
			</div>
			<div class="form-group">
				<label>
					<span>@Html.LabelFor(m => m.CreditCard.CardIssueNumber)</span>
				</label>
				@Html.EditorFor(m => m.CreditCard.CardIssueNumber, new
				   {
					   htmlAttributes = new
					   {
						   @class = "form-control",
						   maxLength = 20
					   }
				   })
				@Html.ValidationMessageFor(m => m.CreditCard.CardIssueNumber)
			</div>

			<div class="form-group">
				<label>
					<span>@Html.LabelFor(m => m.CreditCard.CardStartMonth)</span>
				</label>
				@Html.DropDownListFor(m => m.CreditCard.CardStartMonth, Model.ExpirationMonthOptions, new
				   {
					   @class = "form-control"
				   })
				@Html.DropDownListFor(m => m.CreditCard.CardStartYear, Model.ExpirationYearOptions, new
				   {
					   @class = "form-control"
				   })
			</div>

		</div>
	}

	<div>
		<input type="submit" class="btn btn-default update-recurring-button" value="@Html.StringResource("recurringorder.updateinfo")" />
		<a href="@Url.Action(ActionNames.Index)" class="btn btn-default cancel-button">@Html.StringResource("address.cs.68")</a>
	</div>
}