﻿@model OrderSalesRepNameViewModel

@* @using (Html.BeginForm(ActionNames.OrderSalesRepName, ControllerNames.CheckoutOrderSalesRepName, FormMethod.Post ))
    { *@
    <script type="text/javascript">
    </script>
	<div class="order-salesrepname">
        <div class="entry-feedback-wrapper" style="margin-bottom:15px">
              @Html.DropDownListFor(
                expression: m => m.SelectedOrderSalesRepName,
                selectList: Model.ListOrderSalesRepNames,
                optionLabel: "Select salesperson",
                htmlAttributes: new {@class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.SelectedOrderSalesRepName)
        </div>
        <div class="checkout-action-row order-notes-actions">
            <!--<button type="submit" class="btn btn-default add-notes-checkout-button" >@Html.StringResource("common.cs.61")</button> -->
        </div>
 @*    }*@