﻿@model CODViewModel

<div class="row">
	<div class="col-sm-12 col-lg-12">
		@using (Html.BeginForm(
                actionName: ActionNames.COD,
                controllerName: ControllerNames.CheckoutCOD,
                method: FormMethod.Post,
                htmlAttributes: new { @class = "form purchase-order-form" }))
                {
                    <div class="col-sm-6 col-lg-4">

                        @Html.EditorEntryFor(
                        expression: m => m.PrimaryPaymentBalance)
                        <div class="form-group-full form-group has-feedback">
                            <label class="form-label form-label-optional">
                                <span class="form-label-prefix form-label-prefix-optional"></span>
                                <span class="form-label-wrap">Secondary Payment</span>
                                <span class="form-label-suffix form-label-suffix-optional">(optional)</span>
                            </label>
                                @Html.DropDownListFor(
                            expression: m => m.SelectedSecondaryPayment,
                            selectList: Model.ListSecondaryPayment,
                            optionLabel: "Select Secondary Payment",
                            htmlAttributes: new { @class = "form-control" }
                            )
                         </div>

                    @*      @Html.EditorEntryFor(
                            expression: m => m.SecondaryPaymentBalance) *@
                        </div>

                        <div class="col-sm-12 col-lg-12">
                            <button type="submit" class="btn btn-primary purchase-order-submit">@Html.StringResource("common.cs.61")</button>
                            <a href="@Url.Action(ActionNames.Index, ControllerNames.Checkout)" class="btn btn-default purchase-order-cancel">@Html.StringResource("Global.CancelButtonText")</a>
                        </div>
                    }
        </div>
    </div>