﻿@model OrderRecalcTaxViewModel

@using (Html.BeginForm(ActionNames.OrderIgnoreTax, ControllerNames.CheckoutOrderRecalcTax, FormMethod.Post,
                        htmlAttributes: new { @name = "fm_recalctax" }))
{
	<div class="order-salesrepname">
        <div class="entry-feedback-wrapper">
              @Html.EditorEntryFor(
                expression: m => m.IsIgnoreTax)              
        </div>
    </div>

    //Ajax submit
    <script>
        $("#IsIgnoreTax").click(function() {
                 //$.LoadingOverlay("show");
                  var $form = $("form");
                  var serializedForm = $form.serialize();
                  adnsf$('.js-loading-overlay-wrap').removeClass('off');

                  $.ajax({
                      type: "POST",
                      data: serializedForm,
                      url: "/CheckoutOrderRecalcTax/OrderIgnoreTax",
                      dataType: "html",
                      success: function (response) {
                          $('#checkoutordersummary').html(response);
                          adnsf$('.js-loading-overlay-wrap').addClass('off');
                      }
                  });
             });
    </script>
}