﻿@model UserLinksViewModel

<ul class="user-links">
    <li>
        <a class="user-link" href="/management">Management</a>
    </li>
	@if(Model.UserIsRegistered)
    {
        <li class="hidden-xs hidden-sm">
            <a href="@Url.Action(ActionNames.Index, ControllerNames.Account)" class="user-link">
                <i class="fa fa-user"></i>
                @Html.StringResourceFormat("userlinks.welcometext", string.IsNullOrEmpty(Model.UserFirstName) ? Model.Email : Model.UserFirstName)
            </a>
        </li>
    }
    <li>
        @Html.Action(ActionNames.LoginLinks, ControllerNames.UserLinks)
	</li>
	@if(Model.MinicartEnabled && !Model.CheckoutInProgress)
	{
		<li>
			@Html.Action(ActionNames.MinicartLink, ControllerNames.Minicart, new { cartType = CartTypeEnum.ShoppingCart })
		</li>
	}
	@if(Model.MiniwishlistEnabled)
	{
		<li class="hidden-xs">
			@Html.Action(ActionNames.MinicartLink, ControllerNames.Minicart, new { cartType = CartTypeEnum.WishCart })
		</li>
	}
	@if(!Model.CheckoutInProgress)
	{
		<li>
			<a id="js-header-checkout-link" 
				href="@Html.AttributeBool(Model.CartHasItems, Url.Action(ActionNames.Index, ControllerNames.Checkout, new RouteValueDictionary { { RouteDataKeys.ReturnUrl, Request.RawUrl } }))"
				class="user-link checkout-link" 
				disabled="@Html.AttributeBool(!Model.CartHasItems, "disabled")">
				<i class="fa @Html.AttributeBool(Model.MinicartEnabled, "fa-check-square-o", "fa-shopping-cart")"></i>
				@Html.StringResource("userlinks.checkout")
			</a>
		</li>
	}
</ul>