﻿@model CCWAViewModel

@if(!string.IsNullOrEmpty(Model.CCWA))
{
	@Model.CCWA
}
<br>
@if (!string.IsNullOrEmpty(Model.PrimaryPaymentBalance))
{
    <span>Primary Payment Balance: </span>@Model.PrimaryPaymentBalance
}
<br>
@if (!string.IsNullOrEmpty(Model.SelectedSecondaryPayment))
{
    <span>Secondary Payment Method: </span>@Model.SelectedSecondaryPayment
}
