﻿@model OrderNotesViewModel

@using(Html.BeginForm(ActionNames.OrderNotes, ControllerNames.CheckoutOrderNotes))
{
	<div class="order-notes">
        <div class="form-group">
            <h3 class="order-header">@Html.StringResource("checkout.header.ordernotes")</h3>
            <div class="checkout-content">
                @Html.TextAreaFor(m => m.OrderNotes, new { @class = "form-control order-notes-box" })
            </div>
            <h3 class="order-header">@Html.StringResource("checkout.header.notes")</h3>
            <div class="checkout-content">
                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control order-notes-box" })
            </div>
        </div>
    </div>

	<div class="checkout-action-row order-notes-actions">
		<button type="submit" class="btn btn-default add-notes-checkout-button" >@Html.StringResource("common.cs.61")</button>
	</div>
}