﻿@model PromotionsViewModel

<div class="order-block">
	<h3 class="order-header">
		@Html.StringResource("Header.PromotionCode")
	</h3>
	<div class="checkout-content">
		@using (Html.BeginForm(ActionNames.AddPromoCode, ControllerNames.CheckoutPromotions, FormMethod.Post, new { @class = "form promo-entry-form" }))
        {
			<div class="form-group">
				<div class="input-group">
                    <div class="order-salesrepname">
                        <div class="entry-feedback-wrapper">
                            @Html.DropDownListFor(
                            expression: m => m.EnteredCode,
                            selectList: Model.ListPromotions,
                            optionLabel: "Select Promotions",
                            htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default add-notes-checkout-button">@Html.StringResource("common.cs.61")</button>
                    </span>
                    @*
                    @Html.EditorFor(model => model.EnteredCode,
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            placeholder = AppLogic.GetString("checkout.promo.example")
                        }
                    })
                                    <span class="input-group-btn">
                        <button class="btn btn-default add-promo-checkout-button" type="submit">@Html.StringResource("common.cs.24")</button>
                    </span>*@ 
				</div>
				@Html.ValidationMessageFor(model => model.EnteredCode)
			</div>
		}
		@if(Model.Promotions.Any())
    {
        <div class="entered-promos">
            @foreach(var promo in Model.Promotions)
            {
                <div class="entered-promo">
                    <label class="promo-code">
                        @promo.Code:
                    </label>
                    <span class="promo-description">
                        @Html.Raw(promo.Description)
                    </span>
                    <a href="@Url.Action(
                            ActionNames.RemovePromo,
                            ControllerNames.CheckoutPromotions,
                            new { code = promo.Code })">
                        @Html.StringResource("common.remove")
                    </a>
                </div>
            }
        </div>
    }
	</div>
</div>