﻿@model SynchronyViewModel

@if(!string.IsNullOrEmpty(Model.AccountNumber))
{
	<span>Account Number: </span>@Model.AccountNumber
    <br>
}

@if (!string.IsNullOrEmpty(Model.ApplicationKey))
{
    <span>Application Key: </span>@Model.ApplicationKey
    <br>
}

@if (!string.IsNullOrEmpty(Model.SelectedSynchronyAccountInfo))
{
    <span>Account Info: </span>@Model.SelectedSynchronyAccountInfo
    <br>
}

@if (!string.IsNullOrEmpty(Model.SelectedSynchronyTerm))
{
    <span>Term: </span>@Model.SelectedSynchronyTerm
    <br>
}

@if (!string.IsNullOrEmpty(Model.PrimaryPaymentBalance))
{
    <span>Primary Payment Balance: </span>@Model.PrimaryPaymentBalance
    <br>
}

@if (!string.IsNullOrEmpty(Model.SelectedSecondaryPayment))
{
    <span>Secondary Payment Method: </span>@Model.SelectedSecondaryPayment
}