﻿@model SynchronyViewModel

<div class="row">
    @using (Html.BeginForm(
                    actionName: ActionNames.Synchrony,
                    controllerName: ControllerNames.CheckoutSynchrony,
                    method: FormMethod.Post,
                    htmlAttributes: new { @class = "form purchase-order-form" }))
    {
        <div class="col-sm-6 col-lg-4">


            @Html.EditorEntryFor(
                expression: m => m.AccountNumber)
            @Html.EditorEntryFor(
                expression: m => m.ApplicationKey)

            <!--<label class="form-label form-label-required" for="AccountInfo"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Info(2 letters)</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
            <label class="form-label" for="AccountInfo"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Info(2 letters)</span><span class="form-label-suffix form-label-suffix-optional">(optional)</span></label>
            <div class="entry-feedback-wrapper">
                @Html.DropDownListFor(
                expression: m => m.SelectedSynchronyAccountInfo,
                selectList: Model.ListSynchronyAccountInfo,
                optionLabel: "Select Account Info",
                htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.SelectedSynchronyAccountInfo)

            <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
            <label style="margin-top:10px" class="form-label" for="Term"><span class="form-label-prefix"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-optional">(optional)</span></label>
            <div class="entry-feedback-wrapper">
                @Html.DropDownListFor(
            expression: m => m.SelectedSynchronyTerm,
            selectList: Model.ListSynchronyTerm,
            optionLabel: "Select Term",
            htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.SelectedSynchronyTerm)

            <br>
            <br>
            <div>
                <button type="submit" class="btn btn-primary purchase-order-submit">@Html.StringResource("common.cs.61")</button>
                <a href="@Url.Action(ActionNames.Index, ControllerNames.Checkout)" class="btn btn-default purchase-order-cancel">@Html.StringResource("Global.CancelButtonText")</a>
            </div>

        </div>
        <div class="col-sm-6 col-lg-4">
            @Html.EditorEntryFor(
        expression: m => m.PrimaryPaymentBalance)


            <div class="form-group-full form-group has-feedback">
                <label class="form-label form-label-optional">
                    <span class="form-label-prefix form-label-prefix-optional"></span>
                    <span class="form-label-wrap">Secondary Payment</span>
                    <span class="form-label-suffix form-label-suffix-optional">(optional)</span>
                </label>
                @Html.DropDownListFor(
                            expression: m => m.SelectedSecondaryPayment,
                            selectList: Model.ListSecondaryPayment,
                            optionLabel: "Select Secondary Payment",
                            htmlAttributes: new { @class = "form-control" }
                            )
            </div>
            
        </div>
    }
</div>