﻿@model KitUploadViewModel

@{
	Layout = ViewEngines.Engines.FindViewPath(ViewContext.Controller.ControllerContext, "_PopupLayout");
}

<div class="container-fluid">
	<div class="kit-upload-page">
		<h3>@Html.StringResource("KitProduct.UploadImageHeader")</h3>
		@using(Html.BeginForm(
			actionName: ActionNames.Detail,
			controllerName: ControllerNames.KitUpload,
			method: FormMethod.Post,
			htmlAttributes: new
			{
				@class = "form",
				enctype = "multipart/form-data"
			}))
		{
			@Html.HiddenFor(model => model.ItemId)
			@Html.HiddenFor(model => model.TemporaryFileStub)
			<div class="form-group">
				@Html.TextBoxFor(m => m.FileUpload, new { type = "file" })
				@Html.ValidationMessageFor(m => m.FileUpload)
			</div>
			<button type="button" class="btn btn-default cancel-upload-kit-image-button js-close">
				@Html.StringResource("Global.CancelButtonText")
			</button>
			<button type="submit" class="btn btn-primary upload-kit-image-button">
				@Html.StringResource("KitProduct.Upload")
			</button>
		}

		@Html.RegisterInlineScript(
			@<script type="text/javascript">
				(function ($) {
					$('.js-close').click(function (event) {
						window.close();
						event.preventDefault();
					});
				})(adnsf$);
			</script>,
		dependencies: new[]
		{
			ScriptPaths.JQuery.AdnsfAlias,
		})
	</div>
</div>

@if(Model.UploadSuccessful)
{
	@Html.RegisterInlineScript(
		@<script type="text/javascript">
			opener.adnsf$.kitForm.updateFileUpload(@Model.ItemId, @Html.JavascriptString(Model.ImageUrl));
			window.close();
		</script>,
	dependencies: new[]
	{
		ScriptPaths.JQuery.AdnsfAlias,
	})
}
