﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

@* Search appconfigs/settings for 'meta' to set the global page title and other meta tags *@
@Html.Action(ActionNames.Detail, ControllerNames.MetaTag, new { metaTitle = @ViewBag.MetaTitle, metaDescription = @ViewBag.MetaDescription, metaKeywords = @ViewBag.MetaKeywords })

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@* Bundle and minify jQuery. *@
@Html.RegisterScriptBundle(
	bundleUrl: ScriptBundlePaths.SkinBundle,
	urls: new[]
	{
		ScriptPaths.JQuery,
		ScriptPaths.JQuery.AdnsfAlias,
	})

@* Bundle and minify CSS. *@
@Html.RenderStyleBundle(
	bundlePath: Url.SkinUrl("css/_skin_bundle"),
	filePaths: new[]
	{
		Url.AppRelativeSkinUrl("css/bootstrap.css"),
		Url.AppRelativeSkinUrl("css/font-awesome.css"),
		Url.AppRelativeSkinUrl("css/base.css"),
		Url.AppRelativeSkinUrl("css/fonts.css"),
		Url.AppRelativeSkinUrl("css/style.css"),
	})
