﻿@model OrderEventNameViewModel

@using (Html.BeginForm(ActionNames.OrderEventName, ControllerNames.CheckoutOrderEventName, FormMethod.Post,
                        htmlAttributes: new { @name = "fm_eventname" }))
{
	<div class="order-salesrepname">
        <div class="entry-feedback-wrapper">
              @Html.DropDownListFor(
                expression: m => m.SelectedOrderEventName,
                //selectList: Model.ListOrderEventNames,
                selectList: new SelectList(
            Model.ListOrderEventNames.Select(
            c => new
            {
                Text = c.Value + "::" + c.Text.Substring(c.Text.IndexOf("@@")+2),
                Value = c.Text.Substring(0,c.Text.IndexOf("@@"))
            }),
            "Text",
            "Value"),

                optionLabel: "Select Event Name",

                //htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    @Html.ValidationMessageFor(model => model.SelectedOrderEventName)
    //Ajax submit
    <script>
            $("#SelectedOrderEventName").change(function() {
                  var $form = $("form");
                  var serializedForm = $form.serialize();
                  adnsf$('.js-loading-overlay-wrap').removeClass('off');

                  $.ajax({
                      type: "POST",
                      data: serializedForm,
                      url: "/CheckoutOrderEventName/OrderEventName",
                      dataType: "html",
                      success: function (response) {
                          $('#checkoutordersummary').html(response);
                          document.getElementById("H_EventName").value = document.forms.fm_eventname.SelectedOrderEventName.value;
                          $("#placeorderform #EventNameErrorMessage .field-validation-error").empty();
                          $("#placeorderform #EventNameErrorMessage span").removeClass(".field-validation-error");
                          $("#placeorderform #EventNameErrorMessage span").addClass(".field-validation-valid");
                          adnsf$('.js-loading-overlay-wrap').addClass('off');
                      }
                  });
              });
    </script>

   @* <div class="checkout-action-row order-notes-actions">
        <button type="submit" class="btn btn-default add-notes-checkout-button" >@Html.StringResource("common.cs.61")</button>
    </div>*@
}