﻿@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Site is down for maintenance</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<style>
		body {
			text-align: center;
			padding: 150px;
			font: 20px Helvetica, sans-serif;
			color: #333;
		}

		h1 {
			font-size: 50px;
		}

		article {
			display: block;
			text-align: left;
			width: 650px;
			margin: 0 auto;
		}

		a {
			color: #dc8100;
			text-decoration: none;
		}

			a:hover {
				color: #333;
				text-decoration: none;
			}
	</style>
</head>
<body>
	<!-- For use with AppSettings.config setting SiteDownForMaintenance -->
	<article>
		@Html.Topic("Template.MaintenancePage")
	</article>
</body>
</html>