﻿@model DriverInstructionViewModel
@{
	Layout = null;
}
<style type="text/css">
@@media print{
        .noprint {display:none}
    }
</style>
<button class="noprint" onclick="window.print();" >Print</button>
@Html.Raw(Model.Body)