.OrderStatusLinks{
	padding:10px;
	border:1px solid #777;
	display:inline-block;
	background:#FEF9E7;
    margin-bottom:5px;
}
.OrderStatusLinks span{
    margin-right:22px;
    font-size:20px;
}

.OrderStatusLinks img{
    width:22px;
}

