﻿@model AddToCartViewModel

@if(Model.IsCallToOrder)
{
	@Html.Partial("_CallToOrder")
}
else if(!Model.IsSimpleProduct || !Model.ShowBuyButton)
{
	<a class="details-link btn btn-primary " href="@Url.BuildProductLink(Model.ProductId)">
		@Html.StringResource("simpleaddtocart.detailslink")
	</a>
}
else
{
	using(Html.BeginForm(
		actionName: ActionNames.AddToCart,
		controllerName: ControllerNames.ShoppingCart,
		method: FormMethod.Post,
		htmlAttributes: new
		{
			@class = "form add-to-cart-form js-add-to-cart-form",
			id = string.Format("add-to-cart-{0}", Model.VariantId),
		}))
	{
		@Html.HiddenFor(m => m.ProductId, new { id = string.Format("product-id-{0}", Model.VariantId) })
		@Html.HiddenFor(m => m.VariantId, new { id = string.Format("variant-id-{0}", Model.VariantId) })
		@Html.HiddenFor(m => m.ReturnUrl, new { id = string.Format("return-url-{0}", Model.VariantId) })
		@Html.HiddenFor(m => m.IsWishlist, new { id = string.Format("is-wishlist-{0}", Model.VariantId), @class="js-is-wishlist" })

		<div class="js-add-to-cart-errors">
			@* Javascript will display errors here *@
		</div>

		<div class="form-group add-to-cart-group">

			@if(Model.ShowQuantity)
			{
				<span class="add-to-cart-quantity">
					@Html.LabelFor(m => m.Quantity)
					@if(Model.RestrictedQuantities.Any())
					{
						@Html.DropDownListFor(m => m.Quantity, Model.RestrictedQuantities, new { @class = "form-control quantity-select js-validate-quantity", id = string.Format("quantity-{0}", Model.VariantId) });
					}
					else
					{
						@Html.EditorFor(
						expression: m => m.Quantity,
						additionalViewData: new
						{
							htmlAttributes = new
							{
								@class = "form-control quantity-field js-validate-quantity",
								id = string.Format("quantity-{0}", Model.VariantId),
								min = 0,
							}
						})
					}
				</span>
			}
			
			<button type="submit" class="btn btn-primary add-to-cart js-add-to-cart-button">
				@Html.StringResource("AppConfig.CartButtonPrompt")
			</button>
			@if(Model.ShowWishlistButton)
			{
				<button type="submit" class="btn btn-default add-to-wishlist js-wishlist-button">
					@Html.StringResource("AppConfig.WishButtonPrompt")
				</button>
			}
		</div>
	}
}