﻿@model DownloadsViewModel

<div class="page-wrap downloads-page">
	<h4>@Html.StringResource("download.aspx.1")</h4>

	<div class="downloads-info">
		@Html.Topic("Download.Information");
	</div>

	<div class="downloads-wrap">

		<ul id="pagetabs" class="tabbitTabs">
			<li>
				<a href="#available">
					@Html.StringResource("download.aspx.2")
				</a>
			</li>
			<li>
				<a href="#pending">
					@Html.StringResource("download.aspx.3")
				</a>
			</li>
			<li>
				<a href="#expired">
					@Html.StringResource("download.aspx.4")
				</a>
			</li>
		</ul>
		<div id="tabcontent" class="tabbitTabWrap">
			<div id="available">
				<div class="tabContentItem">
					@if(!Model.Available.Any())
					{
						@Html.StringResource("download.aspx.11")
					}
					else
					{
						<table class="table table-striped download-table">
							<thead>
								<tr>
									<th>@Html.StringResource("download.aspx.5")</th>
									<th>@Html.StringResource("download.aspx.6")</th>
									<th>@Html.StringResource("download.aspx.7")</th>
									<th>@Html.StringResource("download.aspx.8")</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach(var download in Model.Available)
								{
									<tr>
										<td>@download.ShoppingCartRecordId</td>
										<td>@download.Name</td>
										<td>@download.Category</td>
										<td>
											@if(download.ExpiresOn != null)
											{
												@download.ExpiresOn
											}
											else
											{
												@Html.StringResource("download.aspx.16")
											}
										</td>
										<td>
											<a class="btn btn-primary download-button" href="@download.DownloadLocation">@Html.StringResource("download.aspx.14")</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
				</div>
			</div>
			<div id="pending">
				<div class="tabContentItem">
					@if(!Model.Pending.Any())
					{
						@Html.StringResource("download.aspx.12")
					}
					else
					{
						<table class="table table-striped download-table">
							<thead>
								<tr>
									<th>@Html.StringResource("download.aspx.5")</th>
									<th>@Html.StringResource("download.aspx.6")</th>
									<th>@Html.StringResource("download.aspx.7")</th>
									<th>@Html.StringResource("download.aspx.9")</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var download in Model.Pending)
								{
									<tr>
										<td>@download.ShoppingCartRecordId</td>
										<td>@download.Name</td>
										<td>@download.Category</td>
										<td>@download.PurchasedOn</td>
									</tr>
								}
							</tbody>
						</table>
					}
				</div>
			</div>
			<div id="expired">
				<div class="tabContentItem">
					@if(!Model.Expired.Any())
					{
						@Html.StringResource("download.aspx.13")
					}
					else
					{
						<table class="table table-striped download-table">
							<thead>
								<tr>
									<th>@Html.StringResource("download.aspx.5")</th>
									<th>@Html.StringResource("download.aspx.6")</th>
									<th>@Html.StringResource("download.aspx.7")</th>
									<th>@Html.StringResource("download.aspx.10")</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach(var download in Model.Expired)
								{
									<tr>
										<td>@download.ShoppingCartRecordId</td>
										<td>@download.Name</td>
										<td>@download.Category</td>
										<td>@download.ExpiresOn</td>
									</tr>
								}
							</tbody>
						</table>
					}
				</div>
			</div>
		</div>
	</div>

	@Html.RegisterScriptBundle(
		bundleUrl: ScriptBundlePaths.TabbitBundle,
		url: ScriptPaths.Tabbit)

	@if(Model.RelatedProducts.Any())
	{
		<h4>
			@Html.StringResource("Header.RelatedItemsHeader")
		</h4>

		<div class="related-product-wrap">
			@foreach(var relatedProduct in Model.RelatedProducts)
			{
				<div class="related-product">
					<div class="product-image">
						<img src="@relatedProduct.ImageUrl" />
					</div>
					<div class="product-name">
						<a href="@relatedProduct.Url">@relatedProduct.Name</a>
					</div>
				</div>
			}
			<div class="clearfix"></div>
		</div>
	}
</div>