﻿@model AccountChangePasswordViewModel

<div class="page-wrap change-password-page">
	<h1>@Html.StringResource("signin.aspx.6")</h1>
	<div class="row">
		<div class="col-sm-6">
			@using(Html.BeginForm(
				actionName: "changePassword",
				controllerName: null,
				routeValues: new { returnUrl = @Model.ReturnUrl },
				method: FormMethod.Post,
				htmlAttributes: new { @class = "form login-form" }))
			{
				@Html.AntiForgeryToken()

				<div class="group-header form-header signin-text">
					@Html.Topic("SigninPageHeader")
				</div>

				@Html.EditorEntryFor(
						expression: m => m.Email)

				@Html.EditorEntryFor(
						expression: m => m.OldPassword)

				@Html.EditorEntryFor(
						expression: m => m.NewPassword)
		
				@Html.EditorEntryFor(
						expression: m => m.NewPasswordConfirmation)

				<div class="page-action-bar change-password-actions">
					<input type="submit" class="btn btn-primary login-button" value="@Html.StringResource("signin.aspx.19")" />
				</div>
			}
		</div>
	</div>
</div>
