﻿@model CustomPaymentViewModel

@if (!string.IsNullOrEmpty(Model.SelectedPrimaryPayment))
{
    <span style="font-weight:bold">Primary Payment: </span>@Model.SelectedPrimaryPayment<br>
    if (Model.SelectedPrimaryPayment.Replace(" ", "") == "CreditCard")
    {
	    <span>Authorize Number: </span>@Model.PrimaryCCWA<br>
    }
    if (Model.SelectedPrimaryPayment.Replace(" ", "") == "PurchaseOrder")
    {
        <span>Authorize Number: </span>@Model.PrimaryPurchaseOrderNumber<br>
    }
    if (Model.SelectedPrimaryPayment == "Synchrony")
    {
        if (!string.IsNullOrEmpty(Model.PrimaryAccountNumber))
        {
            <span>Account Number: </span>@Model.PrimaryAccountNumber<br>
        }
        if (!string.IsNullOrEmpty(Model.PrimaryApplicationKey))
        {
            <span>Application key: </span>@Model.PrimaryApplicationKey<br>
        }
        if (!string.IsNullOrEmpty(Model.PrimarySelectedSynchronyAccountInfo))
        {
            <span>Account Info: </span>@Model.PrimarySelectedSynchronyAccountInfo<br>
        }
        if (!string.IsNullOrEmpty(Model.PrimarySelectedSynchronyTerm))
        {
            <span>Term: </span>@Model.PrimarySelectedSynchronyTerm<br>
        }
        if (!string.IsNullOrEmpty(Model.PrimarySelectedSynchronyPrimaryID))
        {
            <span>Primary ID: </span>@Model.PrimarySelectedSynchronyPrimaryID<br>
        }
        if (!string.IsNullOrEmpty(Model.PrimarySelectedIssuedState))
        {
            <span>Issued State: </span>@Model.PrimarySelectedIssuedState<br>
        }
        if (!string.IsNullOrEmpty(Model.PrimarySelectedExpiretionMonth))
        {
            if (!string.IsNullOrEmpty(Model.PrimarySelectedExpiretionYear))
            {
                <span>Expiretion Date: </span>@Model.PrimarySelectedExpiretionMonth<span>/</span>@Model.PrimarySelectedExpiretionYear<br>
            }
            else
            {
                <span>Expiretion Date: </span>@Model.PrimarySelectedExpiretionMonth<br>
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(Model.PrimarySelectedExpiretionYear))
            {
                <span>Expiretion Date: </span>@Model.PrimarySelectedExpiretionYear<br>
            }
        }
    }

    if (!string.IsNullOrEmpty(Model.PrimaryPaymentBalance))
    {
        <span>Primary Payment Balance: </span>@Model.PrimaryPaymentBalance<br>
    }
    <br>
}

@if (!string.IsNullOrEmpty(Model.SelectedSecondlyPayment))
{
    <span style="font-weight:bold">Second Payment: </span>@Model.SelectedSecondlyPayment<br>
    if (Model.SelectedSecondlyPayment.Replace(" ", "") == "CreditCard")
    {
        <span>Authorize Number: </span>@Model.SecondlyCCWA<br>
    }
    if (Model.SelectedSecondlyPayment.Replace(" ", "") == "PurchaseOrder")
    {
        <span>Authorize Number: </span>@Model.SecondlyPurchaseOrderNumber<br>
    }
    if (Model.SelectedSecondlyPayment == "Synchrony")
    {
        if (!string.IsNullOrEmpty(Model.SecondlyAccountNumber))
        {
            <span>Account Number: </span>@Model.SecondlyAccountNumber<br>
        }
        if (!string.IsNullOrEmpty(Model.SecondlyApplicationKey))
        {
            <span>Application key: </span>@Model.SecondlyApplicationKey<br>
        }
        if (!string.IsNullOrEmpty(Model.SecondlySelectedSynchronyAccountInfo))
        {
            <span>Account Info: </span>@Model.SecondlySelectedSynchronyAccountInfo<br>
        }
        if (!string.IsNullOrEmpty(Model.SecondlySelectedSynchronyTerm))
        {
            <span>Term: </span>@Model.SecondlySelectedSynchronyTerm<br>
        }
        if (!string.IsNullOrEmpty(Model.SecondlySelectedSynchronyPrimaryID))
        {
            <span>Primary ID: </span>@Model.SecondlySelectedSynchronyPrimaryID<br>
        }
        if (!string.IsNullOrEmpty(Model.SecondlySelectedIssuedState))
        {
            <span>Issued State: </span>@Model.SecondlySelectedIssuedState<br>
        }
        if (!string.IsNullOrEmpty(Model.SecondlySelectedExpiretionMonth))
        {
            if (!string.IsNullOrEmpty(Model.SecondlySelectedExpiretionYear))
            {
                <span>Expiretion Date: </span>@Model.SecondlySelectedExpiretionMonth<span>/</span>@Model.SecondlySelectedExpiretionYear<br>
            }
            else
            {
                <span>Expiretion Date: </span>@Model.SecondlySelectedExpiretionMonth<br>
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(Model.SecondlySelectedExpiretionYear))
            {
                <span>Expiretion Date: </span>@Model.SecondlySelectedExpiretionYear<br>
            }
        }
    }

    if (!string.IsNullOrEmpty(Model.SecondlyPaymentBalance))
    {
        <span>Second Payment Balance: </span>@Model.SecondlyPaymentBalance<br>
    }
    <br>
}

@if (!string.IsNullOrEmpty(Model.SelectedThirdlyPayment))
{
    <span style="font-weight:bold">Third Payment: </span>@Model.SelectedThirdlyPayment<br>
    if (Model.SelectedThirdlyPayment.Replace(" ", "") == "CreditCard")
    {
        <span>Authorize Number: </span>@Model.ThirdlyCCWA<br>
    }
    if (Model.SelectedThirdlyPayment.Replace(" ", "") == "PurchaseOrder")
    {
        <span>Authorize Number: </span>@Model.ThirdlyPurchaseOrderNumber<br>
    }
    if (Model.SelectedThirdlyPayment == "Synchrony")
    {
        if (!string.IsNullOrEmpty(Model.ThirdlyAccountNumber))
        {
            <span>Account Number: </span>@Model.ThirdlyAccountNumber<br>
        }
        if (!string.IsNullOrEmpty(Model.ThirdlyApplicationKey))
        {
            <span>Application key: </span>@Model.ThirdlyApplicationKey<br>
        }
        if (!string.IsNullOrEmpty(Model.ThirdlySelectedSynchronyAccountInfo))
        {
            <span>Account Info: </span>@Model.ThirdlySelectedSynchronyAccountInfo<br>
        }
        if (!string.IsNullOrEmpty(Model.ThirdlySelectedSynchronyTerm))
        {
            <span>Term: </span>@Model.ThirdlySelectedSynchronyTerm<br>
        }
        if (!string.IsNullOrEmpty(Model.ThirdlySelectedSynchronyPrimaryID))
        {
            <span>Primary ID: </span>@Model.ThirdlySelectedSynchronyPrimaryID<br>
        }
        if (!string.IsNullOrEmpty(Model.ThirdlySelectedIssuedState))
        {
            <span>Issued State: </span>@Model.ThirdlySelectedIssuedState<br>
        }
        if (!string.IsNullOrEmpty(Model.ThirdlySelectedExpiretionMonth))
        {
            if (!string.IsNullOrEmpty(Model.ThirdlySelectedExpiretionYear))
            {
                <span>Expiretion Date: </span>@Model.ThirdlySelectedExpiretionMonth<span>/</span>@Model.ThirdlySelectedExpiretionYear<br>
            }
            else
            {
                <span>Expiretion Date: </span>@Model.ThirdlySelectedExpiretionMonth<br>
            }
        }
        else
        {
            if (!string.IsNullOrEmpty(Model.ThirdlySelectedExpiretionYear))
            {
                <span>Expiretion Date: </span>@Model.ThirdlySelectedExpiretionYear<br>
            }
        }
    }

    if (!string.IsNullOrEmpty(Model.ThirdlyPaymentBalance))
    {
        <span>Third Payment Balance: </span>@Model.ThirdlyPaymentBalance<br>
    }
    <br>
}
