﻿@model CustomPaymentViewModel

<div class="custom-payment-form">
    @using (Html.BeginForm(
                                    actionName: ActionNames.CustomPayment,
                                    controllerName: ControllerNames.CheckoutCustom,
                                    method: FormMethod.Post,
                                    htmlAttributes: new { @class = "form purchase-order-form" }))
    {
        <!--Primary Payment-->
        <span class="CustomPaymentTitle">@Html.StringResource("custompayment.header.primarypayment")</span>
        <div class="row">
            <div class="col-sm-6 col-lg-4">              
                <div class="form-group-full form-group has-feedback">
                    <label class="form-label form-label-optional">
                        <span class="form-label-prefix form-label-prefix-optional"></span>
                        <span class="form-label-wrap">Payment Method</span>
                        <span class="form-label-suffix form-label-suffix-optional required">(required)</span>
                    </label>
                    @Html.DropDownListFor(
                                expression: m => m.SelectedPrimaryPayment,
                                selectList: Model.ListPrimaryCustomPayment,
                                optionLabel: "Select Primary Payment",
                                htmlAttributes: new { @class = "form-control" }
                                )
                </div>
                @Html.ValidationMessageFor(model => model.SelectedPrimaryPayment)

                @Html.EditorEntryFor(expression: m => m.PrimaryPaymentBalance)

            </div>
            <style>
                /*Customer requests making Account Number, Application key, Account Infor, Term to be optional fields*/
                /* #PrimarySynchronyForm .form-label-optional {
                    display: none;
                }

                #SecondlySynchronyForm .form-label-optional {
                    display: none;
                }

                #ThirdlySynchronyForm .form-label-optional {
                    display: none;
                }*/
                
            </style>
            <div class="col-sm-6 col-lg-4">
                <div id="PrimarySynchronyForm">
                    <!--<label class="form-label" for="PrimaryAccountNumber" style="margin-top: 10px;"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Number (16 digits)</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>-->
                    <div class="entry-feedback-wrapper" >
                        @Html.EditorEntryFor(
                        expression: m => m.PrimaryAccountNumber)
                        </div>
                    <!--<label class="form-label" for="PrimaryApplicationKey" style="margin-top: 10px;"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Application Key (8 digits)</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>-->
                    <div class="entry-feedback-wrapper">
                        @Html.EditorEntryFor(
                        expression: m => m.PrimaryApplicationKey)
                    </div>

                    <!--<label class="form-label form-label-required" for="AccountInfo"><span class="form-label-prefix"></span><span class="form-label-wrap">Account Info(2 letters)</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="AccountInfo"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Info</span><span class="form-label-suffix form-label-suffix-optional">(optional)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                    expression: m => m.PrimarySelectedSynchronyAccountInfo,
                    selectList: Model.ListPrimarySynchronyAccountInfo,
                    optionLabel: "Select Account Info",
                    htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PrimarySelectedSynchronyAccountInfo)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="Term"><span class="form-label-prefix"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-optional">(optional)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                        expression: m => m.PrimarySelectedSynchronyTerm,
                        selectList: Model.ListPrimarySynchronyTerm,
                        optionLabel: "Select Term",
                        htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PrimarySelectedSynchronyTerm)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="PrimaryID"><span class="form-label-prefix"></span><span class="form-label-wrap">Primary ID</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                        expression: m => m.PrimarySelectedSynchronyPrimaryID,
                        selectList: Model.ListPrimarySynchronyPrimaryID,
                        optionLabel: "Select Primary ID",
                        htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PrimarySelectedSynchronyPrimaryID)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="IssuedState"><span class="form-label-prefix"></span><span class="form-label-wrap">Issued State</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                        expression: m => m.PrimarySelectedIssuedState,
                        selectList: Model.ListPrimaryIssuedState,
                        optionLabel: "Select Issued State",
                        htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PrimarySelectedIssuedState)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="ExpiretionMonth"><span class="form-label-prefix"></span><span class="form-label-wrap">Expiretion Date</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                        expression: m => m.PrimarySelectedExpiretionMonth,
                        selectList: Model.ListPrimaryExpiretionMonth,
                        optionLabel: "Select Month",
                        htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PrimarySelectedExpiretionMonth)

                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                        expression: m => m.PrimarySelectedExpiretionYear,
                        selectList: Model.ListPrimaryExpiretionYear,
                        optionLabel: "Select Year",
                        htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PrimarySelectedExpiretionYear)

                </div>

                <div id="PrimaryCreditCardForm">
                    @Html.EditorEntryFor(expression: m => m.PrimaryCCWA)
                </div>

                <div id="PrimaryPurchaseOrderForm">
                    @Html.EditorEntryFor(expression: m => m.PrimaryPurchaseOrderNumber)
                </div>

                <div id="PrimarySamsSynchronyForm">
                    @Html.EditorEntryFor(expression: m => m.PrimarySamsSynchronyNumber)
                </div>

                <script type="text/javascript">
                    if ($("#SelectedPrimaryPayment").find('option:selected').text() == 'Synchrony') {
                        $("#PrimarySynchronyForm").fadeIn(500);
                        $("#PrimaryCreditCardForm").fadeOut(500);
                        $("#PrimaryPurchaseOrderForm").fadeOut(500);
                        $("#PrimarySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedPrimaryPayment").find('option:selected').text().replace(/\s/g, '') == 'CreditCard') {
                        $("#PrimarySynchronyForm").fadeOut(500);
                        $("#PrimaryCreditCardForm").fadeIn(500);
                        $("#PrimaryPurchaseOrderForm").fadeOut(500);
                        $("#PrimarySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedPrimaryPayment").find('option:selected').text().replace(/\s/g, '') == 'PurchaseOrder') {
                        $("#PrimarySynchronyForm").fadeOut(500);
                        $("#PrimaryCreditCardForm").fadeOut(500);
                        $("#PrimaryPurchaseOrderForm").fadeIn(500);
                        $("#PrimarySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedPrimaryPayment").find('option:selected').text().replace(/\s/g, '').replace('’', '') == 'SamsClubSynchrony') {
                        $("#PrimarySynchronyForm").fadeOut(500);
                        $("#PrimaryCreditCardForm").fadeOut(500);
                        $("#PrimaryPurchaseOrderForm").fadeOut(500);
                        $("#PrimarySamsSynchronyForm").fadeIn(500);
                    } else {
                        $("#PrimarySynchronyForm").fadeOut(500);
                        $("#PrimaryCreditCardForm").fadeOut(500);
                        $("#PrimaryPurchaseOrderForm").fadeOut(500);
                        $("#PrimarySamsSynchronyForm").fadeOut(500);
                    }
                    $("#SelectedPrimaryPayment").change(function () {
                        if ($("#SelectedPrimaryPayment").find('option:selected').text() == 'Synchrony') {
                            $("#PrimarySynchronyForm").fadeIn(500);
                            $("#PrimaryCreditCardForm").fadeOut(500);
                            $("#PrimaryPurchaseOrderForm").fadeOut(500);
                            $("#PrimarySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedPrimaryPayment").find('option:selected').text().replace(/\s/g, '') == 'CreditCard') {
                            $("#PrimarySynchronyForm").fadeOut(500);
                            $("#PrimaryCreditCardForm").fadeIn(500);
                            $("#PrimaryPurchaseOrderForm").fadeOut(500);
                            $("#PrimarySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedPrimaryPayment").find('option:selected').text().replace(/\s/g, '') == 'PurchaseOrder') {
                            $("#PrimarySynchronyForm").fadeOut(500);
                            $("#PrimaryCreditCardForm").fadeOut(500);
                            $("#PrimaryPurchaseOrderForm").fadeIn(500);
                            $("#PrimarySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedPrimaryPayment").find('option:selected').text().replace(/\s/g, '').replace('’', '') == 'SamsClubSynchrony') {
                            $("#PrimarySynchronyForm").fadeOut(500);
                            $("#PrimaryCreditCardForm").fadeOut(500);
                            $("#PrimaryPurchaseOrderForm").fadeOut(500);
                            $("#PrimarySamsSynchronyForm").fadeIn(500);
                        } else {
                            $("#PrimarySynchronyForm").fadeOut(500);
                            $("#PrimaryCreditCardForm").fadeOut(500);
                            $("#PrimaryPurchaseOrderForm").fadeOut(500);
                            $("#PrimarySamsSynchronyForm").fadeOut(500);
                        }
                    });
                </script>
                <br>
                <br>

            </div>
        </div>
        <!--End of Primary Payment-->

        <hr />

        <!--Secondly Payment-->
        <span class="CustomPaymentTitle">@Html.StringResource("custompayment.header.secondlypayment")</span>
        <div class="row">
            <div class="col-sm-6 col-lg-4">

                <div class="form-group-full form-group has-feedback">
                    <label class="form-label form-label-optional">
                        <span class="form-label-prefix form-label-prefix-optional"></span>
                        <span class="form-label-wrap">Payment Method</span>
                        <span class="form-label-suffix form-label-suffix-optional">(optional)</span>
                    </label>
                    @Html.DropDownListFor(
                                expression: m => m.SelectedSecondlyPayment,
                                selectList: Model.ListSecondlyCustomPayment,
                                optionLabel: "Select Second Payment",
                                htmlAttributes: new { @class = "form-control" }
                                )
                </div>
                @Html.ValidationMessageFor(model => model.SelectedSecondlyPayment)

                @Html.EditorEntryFor(expression: m => m.SecondlyPaymentBalance)

            </div>
            <div class="col-sm-6 col-lg-4">
                <div id="SecondlySynchronyForm">
                    <!--<label class="form-label" for="SecondlyAccountNumber" style="margin-top: 10px;"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Number (16 digits)</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>-->
                    <div class="entry-feedback-wrapper">
                    @Html.EditorEntryFor(
                        expression: m => m.SecondlyAccountNumber)
                    </div>
                    <!--<label class="form-label" for="SecondlyApplicationKey" style="margin-top: 10px;"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Application Key (8 digits)</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>-->
                    <div class="entry-feedback-wrapper">
                        @Html.EditorEntryFor(
                        expression: m => m.SecondlyApplicationKey)
                    </div>

                    <!--<label class="form-label form-label-required" for="AccountInfo"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Info(2 letters)</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="AccountInfo"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Info</span><span class="form-label-suffix form-label-suffix-optional">(optional)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                        expression: m => m.SecondlySelectedSynchronyAccountInfo,
                        selectList: Model.ListSecondlySynchronyAccountInfo,
                        optionLabel: "Select Account Info",
                        htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SecondlySelectedSynchronyAccountInfo)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="Term"><span class="form-label-prefix"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-optional">(optional)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                    expression: m => m.SecondlySelectedSynchronyTerm,
                    selectList: Model.ListSecondlySynchronyTerm,
                    optionLabel: "Select Term",
                    htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SecondlySelectedSynchronyTerm)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="PrimaryID"><span class="form-label-prefix"></span><span class="form-label-wrap">Primary ID</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                    expression: m => m.SecondlySelectedSynchronyPrimaryID,
                    selectList: Model.ListSecondlySynchronyPrimaryID,
                    optionLabel: "Select Primary ID",
                    htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SecondlySelectedSynchronyPrimaryID)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="IssuedState"><span class="form-label-prefix"></span><span class="form-label-wrap">Issued State</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                    expression: m => m.SecondlySelectedIssuedState,
                    selectList: Model.ListSecondlyIssuedState,
                    optionLabel: "Select Issued State",
                    htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SecondlySelectedIssuedState)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="ExpiretionMonth"><span class="form-label-prefix"></span><span class="form-label-wrap">Expiretion Date</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                    expression: m => m.SecondlySelectedExpiretionMonth,
                    selectList: Model.ListSecondlyExpiretionMonth,
                    optionLabel: "Select Month",
                    htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SecondlySelectedExpiretionMonth)

                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                    expression: m => m.SecondlySelectedExpiretionYear,
                    selectList: Model.ListSecondlyExpiretionYear,
                    optionLabel: "Select Year",
                    htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SecondlySelectedExpiretionYear)
                </div>

                <div id="SecondlyCreditCardForm">
                    @Html.EditorEntryFor(expression: m => m.SecondlyCCWA)
                </div>

                <div id="SecondlyPurchaseOrderForm">
                    @Html.EditorEntryFor(expression: m => m.SecondlyPurchaseOrderNumber)
                </div>

                <div id="SecondlySamsSynchronyForm">
                    @Html.EditorEntryFor(expression: m => m.SecondlySamsSynchronyNumber)
                </div>

                <script type="text/javascript">
                    if($("#SelectedSecondlyPayment").find('option:selected').text() == 'Synchrony') {
                        $("#SecondlySynchronyForm").fadeIn(500);
                        $("#SecondlyCreditCardForm").fadeOut(500);
                        $("#SecondlyPurchaseOrderForm").fadeOut(500);
                        $("#SecondlySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedSecondlyPayment").find('option:selected').text().replace(/\s/g, '') == 'CreditCard') {
                        $("#SecondlySynchronyForm").fadeOut(500);
                        $("#SecondlyCreditCardForm").fadeIn(500);
                        $("#SecondlyPurchaseOrderForm").fadeOut(500);
                        $("#SecondlySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedSecondlyPayment").find('option:selected').text().replace(/\s/g, '') == 'PurchaseOrder') {
                        $("#SecondlySynchronyForm").fadeOut(500);
                        $("#SecondlyCreditCardForm").fadeOut(500);
                        $("#SecondlyPurchaseOrderForm").fadeIn(500);
                        $("#SecondlySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedSecondlyPayment").find('option:selected').text().replace(/\s/g, '').replace('’', '') == 'SamsClubSynchrony') {
                        $("#SecondlySynchronyForm").fadeOut(500);
                        $("#SecondlyCreditCardForm").fadeOut(500);
                        $("#SecondlyPurchaseOrderForm").fadeOut(500);
                        $("#SecondlySamsSynchronyForm").fadeIn(500);
                    } else {
                        $("#SecondlySynchronyForm").fadeOut(500);
                        $("#SecondlyCreditCardForm").fadeOut(500);
                        $("#SecondlyPurchaseOrderForm").fadeOut(500);
                        $("#SecondlySamsSynchronyForm").fadeOut(500);
                    }
                    $("#SelectedSecondlyPayment").change(function () {
                        if ($("#SelectedSecondlyPayment").find('option:selected').text() == 'Synchrony') {
                            $("#SecondlySynchronyForm").fadeIn(500);
                            $("#SecondlyCreditCardForm").fadeOut(500);
                            $("#SecondlyPurchaseOrderForm").fadeOut(500);
                            $("#SecondlySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedSecondlyPayment").find('option:selected').text().replace(/\s/g, '') == 'CreditCard') {
                            $("#SecondlySynchronyForm").fadeOut(500);
                            $("#SecondlyCreditCardForm").fadeIn(500);
                            $("#SecondlyPurchaseOrderForm").fadeOut(500);
                            $("#SecondlySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedSecondlyPayment").find('option:selected').text().replace(/\s/g, '') == 'PurchaseOrder') {
                            $("#SecondlySynchronyForm").fadeOut(500);
                            $("#SecondlyCreditCardForm").fadeOut(500);
                            $("#SecondlyPurchaseOrderForm").fadeIn(500);
                            $("#SecondlySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedSecondlyPayment").find('option:selected').text().replace(/\s/g, '').replace('’', '') == 'SamsClubSynchrony') {
                            $("#SecondlySynchronyForm").fadeOut(500);
                            $("#SecondlyCreditCardForm").fadeOut(500);
                            $("#SecondlyPurchaseOrderForm").fadeOut(500);
                            $("#SecondlySamsSynchronyForm").fadeIn(500);
                        } else {
                            $("#SecondlySynchronyForm").fadeOut(500);
                            $("#SecondlyCreditCardForm").fadeOut(500);
                            $("#SecondlyPurchaseOrderForm").fadeOut(500);
                            $("#SecondlySamsSynchronyForm").fadeOut(500);
                        }
                    });

                </script>
                <br>
                <br>

            </div>
        </div>
        <!--End of Primary Payment-->

        <hr />

        <!--Thirdly Payment-->
        <span class="CustomPaymentTitle">@Html.StringResource("custompayment.header.thirdlypayment")</span>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group-full form-group has-feedback">
                    <label class="form-label form-label-optional">
                        <span class="form-label-prefix form-label-prefix-optional"></span>
                        <span class="form-label-wrap">Payment Method</span>
                        <span class="form-label-suffix form-label-suffix-optional">(optional)</span>
                    </label>
                    @Html.DropDownListFor(
                                expression: m => m.SelectedThirdlyPayment,
                                selectList: Model.ListSecondlyCustomPayment,
                                optionLabel: "Select Third Payment",
                                htmlAttributes: new { @class = "form-control" }
                                )
                </div>
                @Html.ValidationMessageFor(model => model.SelectedThirdlyPayment)

                @Html.EditorEntryFor(expression: m => m.ThirdlyPaymentBalance)

            </div>
            <div class="col-sm-6 col-lg-4">
                <div id="ThirdlySynchronyForm">
                    <!--<label class="form-label" for="ThirdlyAccountNumber" style="margin-top: 10px;"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Number (16 digits)</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>-->
                    <div class="entry-feedback-wrapper">
                        @Html.EditorEntryFor(
                        expression: m => m.ThirdlyAccountNumber)
                    </div>
                    <!--<label class="form-label" for="ThirdlyApplicationKey" style="margin-top: 10px;"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Application Key (8 digits)</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>-->
                    <div class="entry-feedback-wrapper">
                        @Html.EditorEntryFor(
                        expression: m => m.ThirdlyApplicationKey)
                    </div>

                    <!--<label class="form-label form-label-required" for="AccountInfo"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Info(2 letters)</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label  style="margin-top:6px" class="form-label" for="AccountInfo"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Account Info</span><span class="form-label-suffix form-label-suffix-optional">(optional)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                            expression: m => m.ThirdlySelectedSynchronyAccountInfo,
                            selectList: Model.ListSecondlySynchronyAccountInfo,
                            optionLabel: "Select Account Info",
                            htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ThirdlySelectedSynchronyAccountInfo)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="Term"><span class="form-label-prefix"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-optional">(optional)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                            expression: m => m.ThirdlySelectedSynchronyTerm,
                            selectList: Model.ListSecondlySynchronyTerm,
                            optionLabel: "Select Term",
                            htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ThirdlySelectedSynchronyTerm)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="Term"><span class="form-label-prefix"></span><span class="form-label-wrap">Primary ID</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                            expression: m => m.ThirdlySelectedSynchronyPrimaryID,
                            selectList: Model.ListThirdlySynchronyPrimaryID,
                            optionLabel: "Select Primary ID",
                            htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ThirdlySelectedSynchronyPrimaryID)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="IssuedState"><span class="form-label-prefix"></span><span class="form-label-wrap">Issued State</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                            expression: m => m.ThirdlySelectedIssuedState,
                            selectList: Model.ListThirdlyIssuedState,
                            optionLabel: "Select Issued State",
                            htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ThirdlySelectedIssuedState)

                    <!--<label class="form-label form-label-required" for="Term"><span class="form-label-prefix form-label-prefix-required"></span><span class="form-label-wrap">Term</span><span class="form-label-suffix form-label-suffix-required">(required)</span></label>-->
                    <label style="margin-top:6px" class="form-label" for="ExpiretionMonth"><span class="form-label-prefix"></span><span class="form-label-wrap">Expiretion Date</span><span class="form-label-suffix form-label-suffix-optional required">(required)</span></label>
                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                            expression: m => m.ThirdlySelectedExpiretionMonth,
                            selectList: Model.ListThirdlyExpiretionMonth,
                            optionLabel: "Select Month",
                            htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ThirdlySelectedExpiretionMonth)

                    <div class="entry-feedback-wrapper">
                        @Html.DropDownListFor(
                            expression: m => m.ThirdlySelectedExpiretionYear,
                            selectList: Model.ListThirdlyExpiretionYear,
                            optionLabel: "Select Year",
                            htmlAttributes: new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ThirdlySelectedExpiretionYear)
                </div>

                <div id="ThirdlyCreditCardForm">
                    @Html.EditorEntryFor(expression: m => m.ThirdlyCCWA)
                </div>

                <div id="ThirdlyPurchaseOrderForm">
                    @Html.EditorEntryFor(expression: m => m.ThirdlyPurchaseOrderNumber)
                </div>

                <div id="ThirdlySamsSynchronyForm">
                    @Html.EditorEntryFor(expression: m => m.ThirdlySamsSynchronyNumber)
                </div>

                <script type="text/javascript">
                    if ($("#SelectedThirdlyPayment").find('option:selected').text() == 'Synchrony') {
                        $("#ThirdlySynchronyForm").fadeIn(500);
                        $("#ThirdlyCreditCardForm").fadeOut(500);
                        $("#ThirdlyPurchaseOrderForm").fadeOut(500);
                        $("#ThirdlySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedThirdlyPayment").find('option:selected').text() == 'CreditCard') {
                        $("#ThirdlySynchronyForm").fadeOut(500);
                        $("#ThirdlyCreditCardForm").fadeIn(500);
                        $("#ThirdlyPurchaseOrderForm").fadeOut(500);
                        $("#ThirdlySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedThirdlyPayment").find('option:selected').text() == 'PurchaseOrder') {
                        $("#ThirdlySynchronyForm").fadeOut(500);
                        $("#ThirdlyCreditCardForm").fadeOut(500);
                        $("#ThirdlyPurchaseOrderForm").fadeIn(500);
                        $("#ThirdlySamsSynchronyForm").fadeOut(500);
                    } else if ($("#SelectedThirdlyPayment").find('option:selected').text().replace('’', '') == 'SamsClubSynchrony') {
                        $("#ThirdlySynchronyForm").fadeOut(500);
                        $("#ThirdlyCreditCardForm").fadeOut(500);
                        $("#ThirdlyPurchaseOrderForm").fadeOut(500);
                        $("#ThirdlySamsSynchronyForm").fadeIn(500);
                    } else {
                        $("#ThirdlySynchronyForm").fadeOut(500);
                        $("#ThirdlyCreditCardForm").fadeOut(500);
                        $("#ThirdlyPurchaseOrderForm").fadeOut(500);
                        $("#ThirdlySamsSynchronyForm").fadeOut(500);
                    }
                    $("#SelectedThirdlyPayment").change(function () {
                        if ($("#SelectedThirdlyPayment").find('option:selected').text() == 'Synchrony') {
                            $("#ThirdlySynchronyForm").fadeIn(500);
                            $("#ThirdlyCreditCardForm").fadeOut(500);
                            $("#ThirdlyPurchaseOrderForm").fadeOut(500);
                            $("#ThirdlySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedThirdlyPayment").find('option:selected').text().replace(/\s/g, '') == 'CreditCard') {
                            $("#ThirdlySynchronyForm").fadeOut(500);
                            $("#ThirdlyCreditCardForm").fadeIn(500);
                            $("#ThirdlyPurchaseOrderForm").fadeOut(500);
                            $("#ThirdlySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedThirdlyPayment").find('option:selected').text().replace(/\s/g, '') == 'PurchaseOrder') {
                            $("#ThirdlySynchronyForm").fadeOut(500);
                            $("#ThirdlyCreditCardForm").fadeOut(500);
                            $("#ThirdlyPurchaseOrderForm").fadeIn(500);
                            $("#ThirdlySamsSynchronyForm").fadeOut(500);
                        } else if ($("#SelectedThirdlyPayment").find('option:selected').text().replace(/\s/g, '').replace('’', '') == 'SamsClubSynchrony') {
                            $("#ThirdlySynchronyForm").fadeOut(500);
                            $("#ThirdlyCreditCardForm").fadeOut(500);
                            $("#ThirdlyPurchaseOrderForm").fadeOut(500);
                            $("#ThirdlySamsSynchronyForm").fadeIn(500);
                        } else {
                            $("#ThirdlySynchronyForm").fadeOut(500);
                            $("#ThirdlyCreditCardForm").fadeOut(500);
                            $("#ThirdlyPurchaseOrderForm").fadeOut(500);
                            $("#ThirdlySamsSynchronyForm").fadeOut(500);
                        }
                    });
                </script>
                <br>
                <br>

            </div>
        </div>
        <!--End of Thirdly Payment-->

        <center>
            <button type="submit" ID="customPaySubmit" class="btn btn-primary purchase-order-submit">@Html.StringResource("common.cs.61")</button>
            <a href="@Url.Action(ActionNames.Index, ControllerNames.Checkout)" class="btn btn-default purchase-order-cancel">@Html.StringResource("Global.CancelButtonText")</a>
        </center>
        <script type="text/javascript">
            $('#customPaySubmit').click(function () {
                var errMag = "";
                if ($("#SelectedPrimaryPayment").find('option:selected').text() == 'Synchrony')
                {
                    /*if ($("#PrimaryAccountNumber").val().length == 0) {
                        errMag = errMag + "Primary Account Number is required\n";
                    }
                    if ($("#PrimaryApplicationKey").val().length == 0) {
                        errMag = errMag + "Primary Application Key is required\n";
                    }
                    if ($("#PrimarySelectedSynchronyAccountInfo option:selected").val().length == 0) {
                        errMag = errMag + "Primary Account Info is required\n";
                    }
                    if ($("#PrimarySelectedSynchronyTerm option:selected").val().length == 0) {
                        errMag = errMag + "Primary Term is required\n";
                    }*/
                    if ($("#PrimarySelectedSynchronyPrimaryID option:selected").val().length == 0) {
                        errMag = errMag + "Primary Primary ID is required\n";
                    }
                    if ($("#PrimarySelectedIssuedState option:selected").val().length == 0) {
                        errMag = errMag + "Primary Issued State is required\n";
                    }
                    if ($("#PrimarySelectedExpiretionMonth option:selected").val().length == 0) {
                        errMag = errMag + "Primary Expiretion Month is required\n";
                    }
                    if ($("#PrimarySelectedExpiretionYear option:selected").val().length == 0) {
                        errMag = errMag + "Primary Expiretion Year is required\n";
                    }
                }

                if ($("#SelectedSecondlyPayment").find('option:selected').text() == 'Synchrony') {
                    /*if ($("#SecondlyAccountNumber").val().length == 0) {
                        errMag = errMag + "Second Account Number is required\n";
                    }
                    if ($("#SecondlyApplicationKey").val().length == 0) {
                        errMag = errMag + "Second Application Key is required\n";
                    }
                    if ($("#SecondlySelectedSynchronyAccountInfo option:selected").val().length == 0) {
                        errMag = errMag + "Second Account Info is required\n";
                    }
                    if ($("#SecondlySelectedSynchronyTerm option:selected").val().length == 0) {
                        errMag = errMag + "Second Term is required\n";
                    }*/
                    if ($("#SecondlySelectedSynchronyPrimaryID option:selected").val().length == 0) {
                        errMag = errMag + "Second Primary ID is required\n";
                    }
                    if ($("#SecondlySelectedIssuedState option:selected").val().length == 0) {
                        errMag = errMag + "Second Issued State is required\n";
                    }
                    if ($("#SecondlySelectedExpiretionMonth option:selected").val().length == 0) {
                        errMag = errMag + "Second Expiretion Month is required\n";
                    }
                    if ($("#SecondlySelectedExpiretionYear option:selected").val().length == 0) {
                        errMag = errMag + "Second Expiretion Year is required\n";
                    }
                }

                if ($("#SelectedThirdlyPayment").find('option:selected').text() == 'Synchrony') {
                    /*if ($("#ThirdlyAccountNumber").val().length == 0) {
                        errMag = errMag + "Third Account Number is required\n";
                    }
                    if ($("#ThirdlyApplicationKey").val().length == 0) {
                        errMag = errMag + "Third Application Key is required\n";
                    }
                    if ($("#ThirdlySelectedSynchronyAccountInfo option:selected").val().length == 0) {
                        errMag = errMag + "Third Account Info is required\n";
                    }
                    if ($("#ThirdlySelectedSynchronyTerm option:selected").val().length == 0) {
                        errMag = errMag + "Third Term is required\n";
                    }*/
                    if ($("#ThirdlySelectedSynchronyPrimaryID option:selected").val().length == 0) {
                        errMag = errMag + "Third Primary ID is required\n";
                    }
                    if ($("#ThirdlySelectedIssuedState option:selected").val().length == 0) {
                        errMag = errMag + "Third Issued State is required\n";
                    }
                    if ($("#ThirdlySelectedExpiretionMonth option:selected").val().length == 0) {
                        errMag = errMag + "Third Expiretion Month is required\n";
                    }
                    if ($("#ThirdlySelectedExpiretionYear option:selected").val().length == 0) {
                        errMag = errMag + "Third Expiretion Year is required\n";
                    }
                }

                if (errMag.length > 0) {
                    alert(errMag);
                    return false;
                }
            });
        </script>
    }


</div >