﻿@model ProductViewModel

@{
	//override default meta tags
	ViewBag.MetaTitle = Model.MetaTitle;
	ViewBag.MetaDescription = Model.MetaDescription;
	ViewBag.MetaKeywords = Model.MetaKeywords;
	ViewBag.PageTitle = Model.PageTitle;
}

@if(Model.LoginRequired)
{
	<p class="registration-required">@Html.StringResource("showproduct.aspx.1")

		<a href="@Url.Action(
			actionName: ActionNames.SignIn,
			controllerName: ControllerNames.Account,
			routeValues: new RouteValueDictionary{
				{ RouteDataKeys.ReturnUrl, @Request.Url.PathAndQuery } })">

			@Html.StringResource("showproduct.aspx.2")
		</a>
		@Html.StringResource("showproduct.aspx.3")
	</p>
}
else
{
	<!--Xmlpackage '@Model.XmlPackageName' -->
	@Html.Raw(Model.PageContent)
	<!--End of Xmlpackage '@Model.XmlPackageName' -->
}
