﻿@model KitItemViewModel

<div class="js-kit-control" data-kit-item-id="@Model.Id">
	@Html.HiddenFor(
		expression: model => model.Id,
		htmlAttributes: new
		{
			@class = "js-kit-identifier"
		})

	@Html.HiddenFor(
		expression: model => model.TextOption,
		htmlAttributes: new
		{
			@class = "js-kit-hidden-text"
		})

	<div class="form-group kit-form-group">
		<div class="kit-file-upload-wrap">
			<span class="js-kit-name-display" data-kit-item-id="@Model.Id">
				@Model.NameDisplay
			</span>
			<a href="@Url.Action(
					actionName: ActionNames.Detail,
					controllerName: ControllerNames.KitUpload,
					routeValues: new
					{
						id = Model.Id
					})" 
				class="kit-item-upload-link js-kit-item-upload-link"
				target="kitupload">

				@Html.StringResource("kitproduct.aspx.19")
			</a>
		</div>

		@if(!string.IsNullOrEmpty(Model.ImageUrl)
			|| !string.IsNullOrWhiteSpace(Model.Description)
			|| !string.IsNullOrEmpty(Model.OutOfStockMessage))
		{
			<div class="kit-item-info clearfix">
				@if(!string.IsNullOrEmpty(Model.ImageUrl))
				{
					<div class="kit-item-image-wrap">
						<img src="@Model.ImageUrl"
							 class="kit-item-image img-responsive" />
					</div>
				}
				@if(!string.IsNullOrWhiteSpace(Model.Description)
											|| !string.IsNullOrEmpty(Model.OutOfStockMessage))
				{
					<div class="kit-item-description">
						@if(!string.IsNullOrWhiteSpace(Model.Description))
						{
							<div class="kit-item-description">
								@Html.Raw(Model.Description)
							</div>
						}
						@if(!string.IsNullOrEmpty(Model.OutOfStockMessage))
						{
							<div class="stock-hint out-stock-hint kit-item-out-of-stock">
								@Html.Raw(Model.OutOfStockMessage)
							</div>
						}
					</div>
				}
			</div>
		}

		<div class="kit-image-upload-wrap">
			<img src="@Model.TextOption" class="@Html.AttributeBool(string.IsNullOrWhiteSpace(Model.TextOption), "off") img-responsive js-file-upload-image" />
		</div>
	</div>
</div>