﻿@model SiteDisclaimerViewModel
@{
	Layout = ViewEngines.Engines.FindViewPath(ViewContext.Controller.ControllerContext, "_PopupLayout");
}

@{
	//override default meta tags
	ViewBag.MetaTitle = Html.StringResource("sitedisclaimer.metatitle");
}
<div class="container-fluid">
	<div class="page-wrap no-template-content site-disclaimer-page">
		@Html.Raw(@Model.DisclaimerText)

		<div class="site-disclaimer-buttons">
			@using(Html.BeginForm(ActionNames.Decline, ControllerNames.SiteDisclaimer))
			{
				<button type="submit" class="site-disclaimer-declinebtn btn btn-default">@Html.StringResource("sitedisclaimer.decline")</button>
			}
			@using(Html.BeginForm(ActionNames.Accept, ControllerNames.SiteDisclaimer))
			{
				@Html.HiddenFor(m => m.ReturnUrl)
				<button type="submit" class="site-disclaimer-agree btn btn-primary">@Html.StringResource("sitedisclaimer.accept")</button>
			}
		</div>
	</div>
</div>