﻿@model ThreeDSecureViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>@Html.Token("AppConfig", new { Name = "SE_MetaTitle" })</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<div>
		<form name="frmLaunchACS"
			  method="post"
			  action="@Model.ACSUrl">

			<noscript>
				<div>@Html.StringResource("secureauth.aspx.2")</div>
				<input type="submit" value="@Html.StringResource("secureath.aspx.3")" />
			</noscript>

			@Html.HiddenFor(m => m.PaReq)
			@Html.HiddenFor(m => m.TermUrl)
			@Html.HiddenFor(m => m.MD)
		</form>
	</div>

	<script>
		document.frmLaunchACS.submit();
	</script>
</body>
</html>
