﻿@model TopicPasswordViewModel

<div class="page-wrap topic-page">
	@using(Html.BeginForm())
		{
			<div class="form-group topic-password">
				@Html.LabelFor(t => t.EnteredPassword)
				@Html.EditorFor(t => t.EnteredPassword, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(t => t.EnteredPassword)
			</div>

			<div class="page-action-bar passord-topic-actions">
				<input type="submit" class="btn btn-primary topic-password-button" value="@Html.StringResource("driver.aspx.5")" />
			</div>
		}
</div>