﻿body, html {
	height: 100%;
}

.body-tag {
	background: #FAFBFD;
}
/* disable bootstrap responsive below 1024px */
.fixed-container {
	min-width: 1200px;
}

.pageTitle {
	margin: 5px 5px 5px 8px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #19437D;
}

.title {
	color: #99CC33;
	font-weight: bold;
	font-size: 15px;
}

.ordercustomer {
	background: #DFECFF;
	border-left: #294167 1px solid;
	border-right: #294167 1px solid;
}

.commandStyle {
	padding: 5px 3px;
}

#container .titleTable {
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
	background-color: #19437D;
	font-weight: bold;
	color: #ffffff;
}

#container .titleTablemenu {
	background-color: #19437D;
	height: 25px;
	color: #ffffff;
	width: 100%;
	font-weight: bold;
}

#container .titleTable a {
	color: #19437D;
	text-decoration: underline;
}

	#container .titleTable a:hover {
		color: #19437D;
		text-decoration: none;
	}

.plain-list {
	list-style: none;
	padding-left: 0;
}

.indent {
	margin-left: 20px;
}

/********************************************************/
/* TOOLTIP STYLES                                       */
/********************************************************/

.AdminSiteTooltip {
	border: 0;
	cursor: pointer;
	vertical-align: text-bottom;
}

#dhtmltooltip {
	position: absolute;
	left: -300px;
	width: 150px;
	padding: 2px;
	background-color: #b7ccfb;
	visibility: hidden;
	z-index: 100; /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer {
	position: absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}

#fixedtipdiv {
	position: absolute;
	padding: 3px 5px 3px 5px;
	border: 1px dashed #666666;
	font: normal 10px Verdana;
}

/********************************************************/
/* TABLE STYLES                                         */
/********************************************************/

.DarkCellText {
	color: #FFFFFF;
	font-family: Verdana, Geneva, arial,helvetica;
	font-size: 11px;
	font-weight: normal;
}

a.DarkCellText {
	color: #FFFFFF;
	text-decoration: none;
}

	a.DarkCellText:link {
		color: #FFFFFF;
		text-decoration: none;
	}

	a.DarkCellText:visited {
		color: #FFFFFF;
		text-decoration: none;
	}

	a.DarkCellText:active {
		color: #FFFFFF;
		text-decoration: none;
	}

	a.DarkCellText:hover {
		color: #BB9500;
		text-decoration: none;
	}

/********************************************************/
/* TEXTBOX STYLES                                       */
/********************************************************/
.text-1, .text-2, .text-3, .text-4, .text-sm, .text-md, .text-lg, .text-xs,
.form-control.text-1, .form-control.text-2, .form-control.text-3, .form-control.text-4, .form-control.text-sm, .form-control.text-md, .form-control.text-lg, .form-control.text-xs {
	max-width: 100%;
}

.text-1, .form-control.text-1 {
	width: 38px;
}

.text-2, .form-control.text-2 {
	width: 48px;
}

.text-3, .form-control.text-3 {
	width: 60px;
}

.text-4, .form-control.text-4 {
	width: 70px;
}

.text-xs, .form-control.text-xs {
	width: 100px;
}

.text-sm, .form-control.text-sm {
	width: 180px;
}

.text-md, .form-control.text-md {
	width: 270px;
}

.text-lg, .form-control.text-lg {
	width: 450px;
}

.text-multiline, .form-control.text-multiline {
	min-height: 200px;
}

.form-control-inline {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;
}

.form-control-label {
	line-height: 34px;
}

/* OLD STYLE BOXES */
.singleShortest {
	width: 75px;
}

.single3chars {
	width: 55px;
}

.single4chars {
	width: 75px;
}

.singleShorter {
	width: 150px;
}

.singleNormal {
	width: 200px;
}

.singleLonger {
	width: 300px;
}

.singleLongest {
	width: 450px;
}

.singleAuto {
	width: 95%;
}

.singleAutoFull {
	width: 100%;
}

.multiNormal {
	width: 246px;
}

.multiShorter {
	width: 175px;
	height: 45px;
}

.multiLong {
	width: 350px;
	height: 45px;
}

.multiAuto {
	width: 98%;
}

.multiAutoNormal {
	width: 95%;
}

.multiExtension {
	min-height: 250px;
}

/********************************************************/
/* INFO MESSAGE STYLES                                  */
/********************************************************/

.error-just-color {
	color: #a94442;
}

.success-just-color {
	color: #3c763d;
}

.info-just-color {
	color: #31708f;
}

/********************************************************/
/* MASTER PAGE STYLES                                   */
/********************************************************/
.header-wrap {
	background: rgb(252, 252, 253);
	background: -webkit-linear-gradient(left top, rgb(252, 252, 253) 30%, rgb(238, 240, 247) 93%);
	background: -moz-linear-gradient(left top, rgb(252, 252, 253) 30%, rgb(238, 240, 247) 93%);
	background: -o-linear-gradient(left top, rgb(252, 252, 253) 30%, rgb(238, 240, 247) 93%);
	background: -ms-linear-gradient(left top, rgb(252, 252, 253) 30%, rgb(238, 240, 247) 93%);
	background: linear-gradient(left top, rgb(252, 252, 253) 30%, rgb(238, 240, 247) 93%);
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
	z-index: 1000;
	position: relative;
	padding: 12px 0;
	background: #F3F3F3;
}

.help-menu-wrap {
	position: relative;
}

#help-menu {
	background: #efefef;
	color: #fff;
	box-shadow: 0 5px 25px rgba(0,0,0,0.2);
	z-index: 1000;
	display: none;
	padding: 12px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

	#help-menu.active {
		display: block;
	}

@media (min-width: 992px) {
	#help-menu {
		position: absolute;
		width: 318px;
		right: 8px;
		top: 0;
	}
}

a#help-menu-toggle {
	color: #EA8D5F;
}

.admin-top-nav {
	font-size: 16px;
}

	.admin-top-nav a {
		color: #7a8192;
		text-shadow: 1px 1px 0 #fff;
		padding: 0 15px;
		font-family: 'source_sans_probold', serif;
		border-left: 1px solid rgba(122, 122, 122, 0.21);
	}

	.admin-top-nav .btn {
		padding: 8px 22px;
		color: #fff;
		border-left: 1px solid black;
		text-shadow: none;
		font-family: 'source_sans_proregular', sans-serif;
	}

a#storeDropdown {
	padding: 0 15px;
	cursor: pointer;
	border-left: none;
}

.store-dropdown .dropdown-menu li a {
	font-family: 'source_sans_proregular', sans-serif;
	border-left: none;
}

.orange-help-button {
	background-color: #EA8D5F;
	border-color: #d97746;
	border-bottom-width: 2px;
}

.store-search-button {
	border-bottom-width: 2px;
}

.configuration-menu-wrap {
	position: relative;
}

#configuration-menu {
	background: rgb(75, 91, 130);
	color: #fff;
	box-shadow: 0 5px 19px rgba(0, 0, 0, 0.24);
	z-index: 1000;
	display: none;
	padding: 18px;
}

	#configuration-menu.active {
		display: block;
	}

@media (min-width: 992px) {
	#configuration-menu {
		position: absolute;
		width: 50%;
		right: 8px;
		top: -10px;
	}
}

.configuration-menu-col {
	border-left: 1px solid rgba(0, 0, 0, 0.11);

	min-height: 400px;
}

.config-menu-header {
	color: #fff;
}

h4.config-menu-header {
	font-family: 'source_sans_probold', sans-serif;
}

span.config-menu-header {
	display: inline-block;
	margin: 10px 0 4px 0;
}

.configuration-menu-col a {
	color: #F0F4FD;
}

	.configuration-menu-col a:hover {
		color: #fff;
	}

.configuration-menu-col ul {
	list-style: none;
	padding: 0 0 0 0;
}

.configuration-menu-col:first-child {
	border-left: 0 none;
}

@media (min-width: 992px) {
	.header-right {
		text-align: right;
		padding-top: 10px;
	}
}

.admin-user-bar {
	margin-bottom: 8px;
}

.header-search-wrap {
	display: inline-block;
	width: 256px;
	margin: 12px 0 0 20px;
	vertical-align: top;
}

.header-help-wrap {
	display: inline-block;
	width: 296px;
	vertical-align: top;
}

.user-dropdown {
	display: inline-block;
	z-index: 1001;
}

#toplink {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 8.5pt;
	color: #FFFFFF;
	text-decoration: none;
}

	#toplink a, #toplink a:active, #toplink a:visited, #toplink a:link {
		font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-size: 8.5pt;
		color: #FFFFFF;
		text-decoration: none;
		padding-left: 4px;
		padding-right: 4px;
	}

		#toplink a:hover {
			font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-size: 8.5pt;
			color: #FFFFFF;
			text-decoration: underline;
			padding-left: 4px;
			padding-right: 4px;
		}


.DisplayOutOfStockGroup {
	border: dashed 1px #ddd;
	width: 500px;
	margin: 0 10px 10px 10px;
	padding: 5px 0 10px 30px;
}

	.DisplayOutOfStockGroup table {
		width: 100%;
	}

.logintext {
	background: transparent url(images/signtext2.png) no-repeat left center;
	padding-left: 5px;
	padding-top: 5px;
	text-align: left;
}

.verificationtext {
	background: transparent url(images/verificationtxt.png) no-repeat right center;
	padding-left: 5px;
	padding-top: 5px;
	text-align: right;
	width: 160px;
}

.chgpwdtext {
	background: transparent url(images/signtext2.png) no-repeat left center;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.securitycodetext {
	background: transparent url(images/securitycode.png) no-repeat left center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	text-align: left;
}


.logintextbg {
	border: none;
	background-color: Transparent;
}

.loginbody {
	overflow: auto;
	background: #f8f9fc;
	background: -webkit-linear-gradient(left top, rgb(250, 250, 250) 30%, rgb(209, 216, 235) 97%);
	background: -moz-linear-gradient(left top, rgb(250, 250, 250) 30%, rgb(209, 216, 235) 97%);
	background: -o-linear-gradient(left top, rgb(250, 250, 250) 30%, rgb(209, 216, 235) 97%);
	background: -ms-linear-gradient(left top, rgb(250, 250, 250) 30%, rgb(209, 216, 235) 97%);
	background: linear-gradient(left top, rgb(250, 250, 250) 30%, rgb(209, 216, 235) 97%);
}

.login-panel {
	margin: 0 auto;
	max-width: 474px;
	padding-top: 32px;
}

.login-logo {
	padding-bottom: 40px;
	text-align: center;
}

.admin-heading {
	font-size: 25px;
	font-weight: 300;
	font-family: 'source_sans_prolight', sans-serif;
	color: #555;
	text-align: center;
	padding-bottom: 18px;
	line-height: 50px;
	text-shadow: 1px 1px 0 rgba(255,255,255,.4);
}

.signin-button-bar {
	text-align: center;
}

/********************************************************/
/* SEARCHABLETEMPLATE AND MODAL POPUP STYLES            */
/********************************************************/


.modal_popup {
	background-color: White;
	width: 620px;
	border: solid 1px #a2a2a2;
}

.modal_popup_background {
	opacity: 0.7;
	background-color: Gray;
	filter: alpha(opacity = 70);
}

.modal_popup_Header {
	background: url(images/modal_popup_headerbg.jpg) repeat;
	height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	color: White;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	font-weight: bold;
	font-size: 12px;
}

.modal_popup_Content {
	padding: 10px;
	padding-right: 0;
	max-height: 450px;
	overflow: auto;
}

	.modal_popup_Content table {
		border-style: none;
	}

		.modal_popup_Content table td {
			border-style: none;
		}

.modal_popup_Footer {
	border-top: solid 1px #ccc;
	margin-left: 25px;
	margin-right: 25px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.modal_popup_Header_Close {
	float: right;
	padding-right: 7px;
}

.config_alternating_item {
	background-color: #eee;
}

.alpha_filters_column {
	background-color: #2F577A;
	width: 30px;
	text-align: center;
	vertical-align: top;
	padding: 10px 5px;
}

.alpha_filters {
	min-height: 500px;
	height: auto !important;
}

.alpha_filters_column a, .alpha_filters_column span {
	color: #fff;
}

.pnlMain {
	padding: 10px 20px 30px 20px;
}

.config_error {
	color: red;
}

/********************************************************/
/* STRINGRESOURCE PAGE STYLES                           */
/********************************************************/

.duplicated_string {
	font-weight: bold;
}


/********************************************************/
/* ENTITY EDIT PAGE STYLES                              */
/********************************************************/

.parent-entity-dropdown {
	width: 400px;
	max-width: 100%;
}

.rspltMain {
	width: 100%;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

/********************************************************/
/* STORE MAINTENANCE STYLES                             */
/********************************************************/

.store_normal td, .store_unpublished td, .store_deleted td {
	padding: 3px 4px;
	border: 1px #d0d7e5;
	border-style: none none solid solid;
}

.store_normal > td:first-child, .store_unpublished > td:first-child, .store_deleted > td:first-child {
	border-left-color: #fff;
}

.store_unpublished td {
	background-color: #CBCDB5;
}

.store_deleted td {
	background-color: #ABABA6;
}

div[id$='_pnlEditStore'] {
	z-index: 1002 !important;
	font-size: 14px;
}

div[id$='_extEditStorePanel_backgroundElement'] {
	z-index: 1001 !important;
}

.edit-store-label {
	line-height: 34px;
	font-weight: bold;
}

.map_header {
	white-space: nowrap;
}

	.map_header img {
		vertical-align: top;
	}

	.map_header a:link {
		color: #068FE0;
		text-decoration: none;
	}

.content_area {
	padding-top: 15px;
	padding-left: 15px;
}

.modalBackground {
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.modalBox {
	background-color: #f5f5f5;
	border: 2px outset black;
	padding: 3px;
}

.url_area table, .url_area tr, .url_area td {
	border-style: none;
}

.tdUrlCaption {
	width: 10%;
}

.tdUrl {
	width: 80%;
}

.tdUrlOptions {
	width: 10%;
}

/********************************************************/
/* KIT EDIT PAGE STYLES                                 */
/********************************************************/

.admin_kit_group {
	border: solid 1px #ccc;
	padding-left: 15px;
	padding-bottom: 20px;
	padding-top: 10px;
	width: 100%;
}

	.admin_kit_group .admin_kit_group_id {
		padding-top: 15px;
		padding-bottom: 5px;
		font-size: 15px;
		font-weight: bold;
	}

	.admin_kit_group .admin_kit_group_leftCommand {
		background-color: #eee;
		border: solid 1px #ccc;
		width: 30px;
	}

	.admin_kit_group .admin_kit_group_content {
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 20px;
	}

.admin_kit_group_validationErrors {
	color: Red;
}

.admin_kit_group_inputError {
	background-color: #FFEEEE;
}

.admin_kit_group_newItem {
	color: #71C144;
}

.edit-kit-tab-content {
	padding: 10px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

/********************************************************/
/* FROM STYLES.CSS                                      */
/********************************************************/

#content .outerTable {
	background-color: #EBEBEB;
	padding-bottom: 0; /*5*/
}

#content .innerTable {
	background-color: #f9f9f9;
	width: 100%;
	height: 100%;
}

#content .contentTable {
	padding-left: 5px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
}

#content .contentTableAP {
	text-align: left;
	padding: 3px 5px;
}

#content .contentTableAPL {
	padding: 3px 3px 3px 0;
	text-align: left;
}

#content .contentTableNPLR {
	padding: 3px 0;
	text-align: left;
}

#content .contentTablePRB {
	padding: 0 3px 0 0;
	text-align: left;
}

#content .contentTableNP {
	padding-bottom: 3px;
	padding-right: 0;
	text-align: left;
}

#content .titleTable {
	background-color: #EBEBEB;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
}

/*#help{margin: 5px 5px 5px 5px;}*/
#help .outerTable {
	background-color: #EBEBEB;
	margin-left: auto;
	margin-right: auto;
}

#help .innerTable {
	background-color: #f9f9f9;
}

#help .contentTable {
	padding-left: 5px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
}

#help .titleTable {
	background-color: #EBEBEB;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	text-align: left;
}

.report-table {
	text-align: right;
	overflow: auto;
	width: 100%;
}

	.report-table td {
		padding: 0 8px;
		font-size: 14px;
	}

	.report-table tr:first-child {
		border-bottom: double 4px #ccc;
		padding-bottom: 3px;
		white-space: nowrap;
	}

	.report-table tr {
		border-bottom: solid 1px #ccc;
	}

	.report-table .td-alt {
		background-color: #d2d2d2;
		background-image: -webkit-linear-gradient(left, #f5f5f5 0, #e8e8e8 100%);
		background-image: -o-linear-gradient(left, #f5f5f5 0, #e8e8e8 100%);
		background-image: linear-gradient(to right, #f5f5f5 0, #e8e8e8 100%);
	}

	.report-table .report-header {
		font-weight: bold;
		font-size: 14px;
		text-align: left;
	}

.report-summary-table {
	width: 500px;
	border-top: solid 1px #ccc;
	min-height: 350px;
	background: #fff;
	background: -webkit-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -moz-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -o-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -ms-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	padding: 10px;
	box-shadow: 20px 20px 60px rgba(0,0,0,.07);
	margin-bottom: 50px;
}

	.report-summary-table td {
		padding: 0 8px;
		font-size: 17px;
	}

	.report-summary-table tr {
		border-bottom: solid 1px #ccc;
	}

	.report-summary-table .td-alt {
		background-color: #d2d2d2;
		background-image: -webkit-linear-gradient(left, #f5f5f5 0, #e8e8e8 100%);
		background-image: -o-linear-gradient(left, #f5f5f5 0, #e8e8e8 100%);
		background-image: linear-gradient(to right, #f5f5f5 0, #e8e8e8 100%);
		font-weight: bold;
	}

.reports-title-small {
	width: 300px;
}

.reports-title-default {
	border-bottom: solid 1px #ccc;
	padding-left: 5px;
}

.reports-scroll {
	overflow: auto;
	max-width: 100%;
	max-height: 568px;
}

@media (min-height: 700px) {
	.reports-scroll {
		max-height: 668px;
	}
}

@media (min-height: 800px) {
	.reports-scroll {
		max-height: 768px;
	}
}

.drop-down-wrap .drop-down-selector {
	display: block;
	width: 100%;
}

/* TEXT */
.titleMessage {
	font-style: italic;
	font-size: 11px;
}

.subTitle {
	font-weight: bold;
	font-size: 11px;
}

.subTitleSmall {
	font-weight: normal;
	font-size: 10px;
	margin-right: 3px;
	white-space: nowrap;
}

.exampleText {
	font-size: 10px;
	font-weight: normal;
}

/* GRID */
.overallGrid {
	border: solid 1px #a2a2a2;
	padding: 0;
	font-size: 11px;
}

.headerGrid {
	background-color: #EBEBEB;
	font-size: 8px;
	color: #000000;
	text-align: left;
	padding: 2px 3px;
	font-weight: normal;
	font-style: italic;
	white-space: nowrap;
}

.DataCellGrid {
	background-color: #f2f2f2;
	padding: 1px 2px 1px 2px;
}

.DataCellGridAlt {
	background-color: #FFFFE0;
	padding: 1px 2px 1px 2px;
}

.DataCellGridEdit {
	background-color: yellow;
	padding: 1px 2px 1px 2px;
}

.selectData {
	white-space: normal;
}

.normalData {
	white-space: normal;
}

.lightData {
	color: #404040;
	white-space: normal;
}

.lighterData {
	color: #606060;
	white-space: normal;
}

.lightestData {
	color: #909090;
	white-space: normal;
}

.footerGrid {
	background-color: #EBEBEB;
	font-size: 11px;
	text-align: center;
	color: #303030;
	padding: 2px 15px 2px 15px;
}

.pagerGrid {
	background-color: #EBEBEB;
}

/* CONTRACTABLE HEADERS */
.switchcontent {
	display: none;
}

/* FILTERED LISTING FORM VALIDATION */

/* Use automatic font-awesome glyphs inside validated form elements */
.has-feedback .feedback-icon:after {
	font-family: FontAwesome;
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
	top: 2.25em;
}

.has-feedback.has-error .feedback-icon:after {
	content: "\f071"; /* fa-exclamation-triangle */
}

.has-feedback.has-warning .feedback-icon:after {
	content: "\f071"; /* fa-exclamation-triangle */
}

.has-feedback.has-success .feedback-icon:after {
	content: "\f00c"; /* fa-check */
}

/* SIGNIN STYLES */


.divMain {
	padding: 10px 10px 30px 10px;
}

.divError {
	color: red;
	font-weight: bold;
}

.divUpload {
	border: solid 1px #ccc;
	width: 500px;
	padding: 10px 10px 15px 10px;
}

/* MODAL ATOM STYLES */
.atomFixedButtons {
	background: #F5F5F5;
	padding: 8px;
	border-top: solid 1px #ddd;
	text-align: right;
}

.atom_modal_popup {
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	max-width: 825px;
}

.atomFixedHeader {
	padding: 8px;
	background: #F5F5F5;
	line-height: 44px;
	border-bottom: solid 1px #ddd;
}

.atomAdvanced {
	float: right;
}

.atomInfoCell {
	vertical-align: top;
}

.atomDescriptionWrap {
	padding: 10px;
}

.atomModalContent .atomDescriptionWrap {
	background-color: #D9EDF7;
	background-image: linear-gradient(to bottom, #D9EDF7 0%, #B9DEF0 100%);
	border: solid 1px #9ACFEA;
	background-repeat: repeat-x;
	padding: 15px;
	color: #31708F;
	margin-left: 10px;
}

.pnlOverAtomFixedButtons {
	max-height: 500px;
	overflow: auto;
}

.configTitle {
	height: 25px;
	line-height: 25px;
}

	.configTitle b, .configTitle b span {
		padding-left: 4px;
		white-space: nowrap;
		font-size: 14px;
	}

.expandingLabel .generalInfoImg {
	float: left;
}

td.textBoxLabel, td.textBox {
	vertical-align: top;
	line-height: 25px;
}

.expandingLabel {
	vertical-align: top;
	text-align: right;
	padding-top: 4px;
}

h1.modalAtomHeader {
	text-align: center;
	margin: 10px;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	color: #19437D;
}

.storeAppConfigTable {
	padding: 2px;
}

.storeToggleRowExpanded {
	padding: 0;
	border: solid 2px #ededed;
}

.storeExpandingLabel {
	vertical-align: top;
	padding-top: 9px;
	padding-right: 4px;
	white-space: nowrap;
}

.store-expanding-radio-button tr {
	float: left;
	padding-top: 9px;
}

.atomAppConfigEditCell {
	vertical-align: top;
	width: 450px;
}

a.atomEditAppConfig {
	width: 148px;
	height: 27px;
	display: inline-block;
	line-height: 27px;
	text-indent: 8px;
	font-size: 10px;
	background: url(images/editAll.png) no-repeat scroll left top;
	color: #015094;
	text-decoration: none;
	text-align: left;
}

.atomEditAppConfig:hover {
	color: #0165bb;
}

.atomEditAppConfig.active {
	background: url(images/editAll.png) no-repeat scroll left bottom;
}

.atomAppConfigEditWrap {
	background: #efefef;
	border: solid 1px #ddd;
	padding: 8px;
}

.atomLabelCell {
	text-align: right;
	font-style: italic;
}

.modal-close {
	line-height: 1;
}

.configWizard .atomAppConfigEditCell {
	background: #ffffff;
}

.configWizardHeader {
	border-bottom: solid 2px #cccccc !important;
	border-top: solid 2px #cccccc !important;
}

.atomAppConfigInputCell {
	width: 260px;
}

.alternaterows {
	border: solid 1px #ddd;
	margin: 4px 0;
}

	.alternaterows tr:nth-child(even) {
		background-color: #f1f1f1;
	}

	.alternaterows th, .alternaterows th a {
		background-color: #7391A7;
		font-weight: bold;
		color: White;
	}

.globalAdmin a {
	font-size: 11px;
	color: #0099FF;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
}

.atomHeaderNotice {
	padding: 8px;
	background: #EFEFEF;
	border-radius: 6px;
	color: #555;
	text-align: center;
	font-style: italic;
	margin-bottom: 8px;
}


.globalAdmin {
	color: #666;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

.globalAdminHeading {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666;
}

.modalTable {
	border-bottom: solid 1px #eee;
	margin-bottom: 10px;
	box-shadow: 0 5px 8px -8px #000;
}

.atomModalContent {
	padding: 5px 10px;
	background: #fff;
	zoom: 1;
}

.atomHeaderButtonPrompt {
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
}

.modalHeader {
	color: #444444;
}


.emphasisButton, a.emphasisButton {
	box-shadow: inset 0 1px 0 0 #ffd6a3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9233), color-stop(1, #cc5f00));
	background: -moz-linear-gradient(top, #ff9233 5%, #cc5f00 100%);
	background: -webkit-linear-gradient(top, #ff9233 5%, #cc5f00 100%);
	background: -ms-linear-gradient(top, #ff9233 5%, #cc5f00 100%);
	background: linear-gradient(to bottom, #ff9233 5%, #cc5f00 100%);
	background-color: #ff9233;
	border-radius: 4px;
	border: 1px solid #f77300;
	display: inline-block;
	color: #ffffff;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	padding: 9px 20px;
	text-decoration: none;
	text-shadow: 0 1px 0 #e66b00;
	cursor: pointer;
}

	.emphasisButton:hover, a.emphasisButton:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc5f00), color-stop(1, #ff9233));
		background: -moz-linear-gradient(top, #cc5f00 5%, #ff9233 100%);
		background: -webkit-linear-gradient(top, #cc5f00 5%, #ff9233 100%);
		background: -ms-linear-gradient(top, #cc5f00 5%, #ff9233 100%);
		background: linear-gradient(to bottom, #cc5f00 5%, #ff9233 100%);
		background-color: #cc5f00;
	}

	.emphasisButton:active, a.emphasisButton:active {
		position: relative;
		top: 1px;
	}



.defaultButton, a.defaultButton {
	box-shadow: inset 0 1px 0 0 #64c8ff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0077BA), color-stop(1, #074D85));
	background: -moz-linear-gradient(top, #0077BA 5%, #074D85 100%);
	background: -webkit-linear-gradient(top, #0077BA 5%, #074D85 100%);
	background: -ms-linear-gradient(top, #0077BA 5%, #074D85 100%);
	background: linear-gradient(to bottom, #0077BA 5%, #074D85 100%);
	background-color: #0077BA;
	border-radius: 4px;
	border: 1px solid #0a62a9;
	display: inline-block;
	color: #ffffff;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	padding: 9px 20px;
	text-decoration: none;
	text-shadow: 0 1px 0 #0077BA;
	cursor: pointer;
}

	.defaultButton:hover, a.defaultButton:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #074D85), color-stop(1, #0077BA));
		background: -moz-linear-gradient(top, #074D85 5%, #0077BA 100%);
		background: -webkit-linear-gradient(top, #074D85 5%, #0077BA 100%);
		background: -ms-linear-gradient(top, #074D85 5%, #0077BA 100%);
		background: linear-gradient(to bottom, #074D85 5%, #0077BA 100%);
		background-color: #074D85;
	}

	.defaultButton:active, a.defaultButton:active {
		position: relative;
		top: 1px;
	}


	.defaultButton:disabled, .emphasisButton:disabled {
		background: #eee;
		border: 1px solid #ddd;
		color: #bbb;
		text-shadow: none;
		box-shadow: none;
		cursor: default;
	}

.previewLinkDisabled {
	border-radius: 4px;
	display: inline-block;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	padding: 9px 20px;
	text-decoration: none;
	background: #eee;
	border: 1px solid #ddd;
	color: #bbb;
	text-shadow: none;
	box-shadow: none;
	cursor: default;
}

.paypalAtomNoticeWrap .atomHeaderNotice {
	float: right;
	width: 538px;
	line-height: 20px;
}

.paypalAPIButtonWrap {
	float: left;
	width: 232px;
}

.wizardButtonWrap {
	padding: 4px;
	text-align: right;
	background: #f1f1f1;
	border: solid 1px #ddd;
	margin-bottom: 4px;
}


.paymentOptionsTable td {
	vertical-align: middle;
	padding: 2px 5px;
}

.paymentRightCell {
	text-align: right;
}

.paymentCheckBox, .paymentCheckBox input, .paymentCheckBox label {
	vertical-align: middle;
}

.paymentIcon {
	vertical-align: middle;
}

.paypalGenericOptions, .paypalCheckoutBtn {
	width: 110px;
}

.lineHeightFix {
	line-height: normal;
}

.trConfigAtomAdvanced {
	display: none;
}

.trConfigAtom {
	padding-top: 4px;
	padding-bottom: 4px;
}

.configSelect {
	width: 264px;
}

.configImage {
	width: 148px;
}

.actionelement {
	cursor: pointer;
}

/* PayPal Setting Page*/

.configurationWrapper .bannerWrapper {
	margin: 10px 0 10px 0;
	padding: 10px;
	border-bottom: solid 1px #eee;
	margin-bottom: 10px;
	box-shadow: 0 5px 8px -8px #000;
}

.configurationWrapper .sub {
	margin: 10px 0 10px 23px;
}

.publisherIdWrap {
	margin: 10px 0 0 2px;
}

.bannerHeader {
	font-size: 18px;
	padding: 0 0 10px 0;
}

.bannerTable {
	margin: 0 0 5px 0;
}

	.bannerTable td {
		padding: 3px;
	}

.scriptWrap {
	border-top: dotted 2px #ccc;
}

	.scriptWrap div {
		margin: 3px 0 3px 0;
	}

.termsWrap {
}

.autoCompleteResults {
	margin-top: 0;
	border: solid 1px #ccc;
	padding: 2px;
	background: #fff;
	list-style: none;
	font-size: 12px;
}

.orderFramePromoTable {
	border: solid 1px #777777;
	font-family: Verdana;
	font-size: 10px;
	border-collapse: collapse;
}

	.orderFramePromoTable th {
		background-color: #003366;
		color: #fff;
		padding: 1px 5px;
		border: solid 1px #777777;
		width: 125px;
	}

	.orderFramePromoTable td {
		padding: 6px;
	}

.orderFramePromoTableRow {
	color: #000;
	height: 25px;
	background-color: #DFECFF;
}

.orderFramePromoTableAlternatingRow {
	color: #000;
	height: 25px;
	background-color: #C2DAFC;
}

/********************************************************/
/* AJAX CONTROL TOOLKIT TAB STYLES                      */
/********************************************************/

.aspdnsf_Tab .ajax__tab_header {
	font-family: verdana,tahoma,helvetica;
	font-size: 11px;
}

/* Default Tab Look */
.aspdnsf_Tab .ajax__tab_outer {
	color: #000000;
	font-weight: normal;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	width: 91px;
	background-image: url(images/tab2.gif);
	height: 23px;
}

.aspdnsf_Tab .ajax__tab_inner {
	height: 23px;
	text-align: center;
	width: 100%;
}

.aspdnsf_Tab .ajax__tab_tab {
	height: 23px !important;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	width: 100%;
}

/* On Tab Mouseover */
.aspdnsf_Tab .ajax__tab_hover .ajax__tab_outer {
	background-image: url(images/tabHover.gif);
	color: #696969;
	width: 91px;
	height: 23px;
	font-weight: normal;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.aspdnsf_Tab .ajax__tab_hover .ajax__tab_inner {
	height: 23px;
}

.aspdnsf_Tab .ajax__tab_hover .ajax__tab_tab {
	height: 23px;
}

/* Active Tab */
.aspdnsf_Tab .ajax__tab_active .ajax__tab_outer {
	background-image: url(images/tabSelect.gif);
	color: #000000;
	width: 91px;
	height: 23px;
	font-weight: normal;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.aspdnsf_Tab .ajax__tab_active .ajax__tab_inner {
	height: 23px;
}

.aspdnsf_Tab .ajax__tab_active .ajax__tab_tab {
	height: 23px;
}

/* Tab Content */

.aspdnsf_Tab .ajax__tab_body .ajax__tab_panel[ID='tabContainer_pnlBasic'] {
	margin-top: -1px;
	padding-bottom: 0;
	border-right: #b7ccfb 1px solid;
	border-left: #b7ccfb 1px solid;
	border-bottom: #b7ccfb 1px solid;
	background-color: #F9F9F9;
	color: #696969;
	width: 450px;
}

.aspdnsf_Tab .ajax__tab_body .ajax__tab_panel[ID='tabContainer_pnlEmailSimple'], .aspdnsf_Tab .ajax__tab_body .ajax__tab_panel[ID='tabContainer_pnlEmailAdvanced'] {
	margin-top: -1px;
	padding-bottom: 0;
	border-right: #b7ccfb 1px solid;
	border-left: #b7ccfb 1px solid;
	border-bottom: #b7ccfb 1px solid;
	background-color: #F9F9F9;
	color: #696969;
	width: 700px;
}


.aspdnsf_Tab .ajax__tab_body .ajax__tab_panel {
	margin-top: -1px;
	padding-bottom: 0;
	border-right: #b7ccfb 1px solid;
	border-left: #b7ccfb 1px solid;
	border-bottom: #b7ccfb 1px solid;
	background-color: #F9F9F9;
	color: #696969;
	width: 1000px;
}

/* Skin Management Page */
.skin-navigation {
	padding-left: 8px;
	background: #eee;
	border: solid 1px #ddd;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-bottom: 20px;
}

a.skin-item-link {
	padding: 4px 8px 4px 4px;
	margin: 8px 0;
	display: block;
	text-decoration: none;
	border: solid 1px #eee;
	position: relative;
}

	a.skin-item-link:hover {
		background: #ddd;
		text-decoration: none;
		border: solid 1px #ddd;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

.skin-item-link.selected, .skin-item-link.selected:hover {
	background: #fff;
	text-decoration: none;
	border: solid 1px #ddd;
	border-right: solid 1px #fff;
	margin-right: -1px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: default;
}

.skin-image-icon-wrap {
	height: 50px;
	width: 82px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	float: left;
	margin-right: 4px;
}

.skin-image-icon {
	max-height: 100%;
	max-width: 80px;
	border: solid 1px #ddd;
}

.skin-link-name {
	font-size: 18px;
	color: #333;
	display: table-cell;
	height: 50px;
	vertical-align: middle;
}

.skin-name {
	font-size: 18px;
	color: #333;
}

.skin-image {
	max-width: 100%;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.no-image-preview {
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
	padding: 16px;
	font-size: 16px;
}

.skin-image-wrap {
	margin-bottom: 16px;
}

.skin-description-wrap {
	background: #eee;
	padding: 8px;
	margin-bottom: 16px;
	margin-top: 8px;
}

.skin-description {
	font-size: 14px;
}

.skin-preview-padding {
	padding: 0 !important;
}

.store-select-wrap {
	font-size: 16px;
}

select.store-select-list {
	border: solid 1px #ddd;
	padding: 4px;
}

.skin-store-selector {
	margin-bottom: 8px;
}

.info-message {
	padding: 8px;
	border-radius: 4px;
	color: #1D7C3A;
	background: #AAE2BB;
	border: solid 1px #1D7C3A;
	font-size: 14px;
}

.skin-indicator {
	position: absolute;
	z-index: 1;
	left: -6px;
	top: -6px;
	width: 24px;
	height: 24px;
	background: #fff url(images/accept.png) no-repeat scroll center center;
	border: solid 1px #95A57B;
	border-radius: 50%;
}

.skin-info-item .action-bar {
	margin-bottom: 15px;
}

.skin-management-page{
	margin-top: 8px;
}

.box-frame {
	border: solid 1px #444444;
}

.admin-table-no-border {
	width: 100%;
	border: none;
}

.admin-table-light-background {
	background-color: #DDDDDD;
}

/*Telerik Calendar Style Overrides*/

.RadCalendarFastNavPopup {
	background-color: #fffefe;
}

	.RadCalendarFastNavPopup table {
		margin: 5px;
		border: solid 1px gray;
	}

.riTextBox {
	border-color: #cccccc !important;
	color: #666 !important;
	background-color: #FBFBFB !important;
}

	.riTextBox:focus {
		border-color: #66afe9 !important;
		outline: 0 !important;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
	}

.riError {
	border-color: #d51923 !important;
	color: #d51923 !important;
}

.RadCalendarPopup caption {
	padding: 0;
}

/*Telerik Calendar Style Overrides End*/

em {
	font-family: 'source_sans_proitalic', sans-serif;
}

.main-container-row {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.menu-column {
	display: table-cell;
	width: 132px;
	vertical-align: top;
	position: relative;
	background: rgb(75, 91, 130);
}

.content-column {
	display: table-cell;
	vertical-align: top;
}

.main-admin-wrapper, .test-bg {
}

.main-content-wrapper {
	font-size: 16px;
	padding-top: 0;
	line-height: 24px;
}

.main-content-body {
	min-height: 720px;
	padding: 8px 0;
}

.large-heading {
	font-size: 43px;
	line-height: 50px;
	color: #0ec1fc;
	font-family: 'source_sans_prolight', Arial, sans-serif;
}

.white-circle {
	box-shadow: 20px 20px 60px rgba(103,102,102,.2);
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	padding: 10px;
	width: 44px;
	height: 42px;
	border-radius: 100%;
	color: #29B5FF;
	display: inline-block;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	background: -webkit-linear-gradient(left top, rgb(221, 233, 240) 05%, rgb(255, 255, 255) 94%);
	background: -moz-linear-gradient(left top, rgb(221, 233, 240) 05%, rgb(255, 255, 255) 94%);
	background: -o-linear-gradient(left top, rgb(221, 233, 240) 05%, rgb(255, 255, 255) 94%);
	background: -ms-linear-gradient(left top, rgb(221, 233, 240) 05%, rgb(255, 255, 255) 94%);
	background: linear-gradient(left top, rgb(221, 233, 240) 05%, rgb(255, 255, 255) 94%);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

	a:hover .white-circle, .white-circle:hover {
		box-shadow: 0 0 5px rgba(103,102,102,.2);
		background: #efefef;
		background: -webkit-linear-gradient(left top, rgba(25, 54, 119, .13) 01%, rgba(255, 255, 255, 1) 97%);
		background: -moz-linear-gradient(left top, rgba(25, 54, 119, .13) 01%, rgba(255, 255, 255, 1) 97%);
		background: -o-linear-gradient(left top, rgba(25, 54, 119, .13) 01%, rgba(255, 255, 255, 1) 97%);
		background: -ms-linear-gradient(left top, rgba(25, 54, 119, .13) 01%, rgba(255, 255, 255, 1) 97%);
		background: linear-gradient(left top, rgba(25, 54, 119, .13) 01%, rgba(255, 255, 255, 1) 97%);
		text-shadow: 1px 1px 0 rgba(255,255,255,1);
		color: #333;
	}

.footer-wrap {
	font-style: italic;
	font-size: 12px;
}

.admin-logo {
	display: inline-block;
	vertical-align: top;
}

	.admin-logo a {
		display: inline-block;
		max-width: 100%;
	}

.white-ui-box {
	border-top: 1px solid #fff;
	border-left: 1px solid #F1F1F1;
	background: #fff;
	background: -webkit-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -moz-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -o-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -ms-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	padding: 30px;
	box-shadow: 50px 50px 80px rgba(0,0,0,.07);
	margin-bottom: 24px;
	border-bottom: 1px solid rgba(0,0,0,.12);
	border-right: 1px solid rgba(0,0,0,.12);
}

.admin-row {
	padding-bottom: 4px;
	padding-top: 4px;
}

.tab-content.white-ui-box {
	border-left: 1px solid rgba(0,0,0,.12);
}

.button, a.button {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	background: rgba(0, 0, 0, .4);
	border-radius: 3px;
	border-bottom: 3px solid rgba(0,0,0,.2);
	padding: 10px 39px 6px 39px;
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

	.button:hover, a.button:hover {
		background: rgba(0, 0, 0, .3);
		border-bottom: 3px solid rgba(0,0,0,.1);
	}

.main-button, a.main-button {
	background: #29b5ff;
	border-bottom: 3px solid rgba(0,0,0,.1);
}

.add-button, a.add-button {
	background: #20cbdb;
}

.main-button:hover, a.main-button:hover {
	background: rgba(19, 167, 242, 1);
	border-bottom: 3px solid rgba(0,0,0,.2);
}

ul.admin-main-menu-column {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #fff;
	text-align: center;
}

.admin-main-menu-column li a .fa {
	display: block;
	font-size: 24px;
	padding-bottom: 8px;
	color: #F0F4FD;
}

.admin-main-menu-column li {
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.11);
	font-size: 15px;
}

	.admin-main-menu-column li a {
		display: block;
		text-shadow: 1px 1px 0 #fff;
	}

.admin-main-menu-column > li > a {
	color: #F0F4FD;
	padding: 20px 8px;
	text-decoration: none;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.admin-main-menu-column li.active a .fa, .admin-main-menu-column li a:hover .fa {
	color: #fff;
}

.admin-menu {
	display: none;
	z-index: 1;
}

	.admin-menu a {
		padding-top: 10px;
		padding-bottom: 10px;
		color: #232D46;
	}

		.admin-menu a:hover {
			text-decoration: underline;
		}

.active .admin-menu {
	display: block;
}

.main-menu-dropdown {
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.menu-column.closed {
	width: 0;
}

.closed .main-menu-wrapper {
	display: none;
	width: 0;
}

.vert-menu-header {
	margin-right: 0;
	padding: 9px 8px;
	width: 114px;
	float: left;
	text-align: center;
	line-height: 18px;
	border: none;
	color: #fff;
	background: rgba(0, 0, 0, 0.18);
}

	.vert-menu-header a {
		color: #fff;
	}

.menu-toggle-wrap {
	position: absolute;
	top: 0;
	left: 114px;
	z-index: 1;
}

.menu-toggle, .menu-toggle:focus {
	width: 18px;
	height: 36px;
	padding: 6px;
	background: rgba(0, 0, 0, 0.18);
	border: none 0;
	border-left: solid 1px #4B5B82;
	color: #fff;
	font-size: 21px;
	display: block;
	outline: none;
}

.closed .menu-toggle {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	opacity: 0.5;
	position: fixed;
	border: none 0;
	left: 0;
}

.menu-toggle:hover {
	background: #D0D7EA;
	color: #fff;
	opacity: 1;
}

.flyout .toggle {
	position: relative;
}

	.flyout .toggle:after {
		content: "";
		display: block;
		height: 20px;
		width: 0;
		height: 0;
		border-left: 19px solid transparent;
		border-right: 0 solid transparent;
		border-bottom: 19px solid rgba(255, 255, 255, 0.3);
		z-index: 1;
		position: absolute;
		right: 0;
		bottom: 0;
	}

.flyout:hover .toggle:after {
	width: 0;
	height: 0;
	border-left: 19px solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 19px solid rgb(209, 216, 235);
}

.flyout.active .toggle:after {
	opacity: 1.0;
	width: 0;
	height: 0;
	border-left: 19px solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 19px solid #fff;
}

.flyout a.toggle {
	outline: 0;
}

.white-box-heading {
	border-bottom: 1px solid #efefef;
	font-size: 18px;
	margin-bottom: 10px;
}

.admin-filter-wrappers {
	background: #fff;
	padding: 18px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid rgba(0,0,0,.1);
}

.table-buttons-bottom {
	padding-top: 18px;
	text-align: right;
}

.admin-main-menu-column ul {
	padding-left: 12px;
	list-style: none;
}

.admin-main-menu-column > li > ul {
	position: absolute;
	top: 0;
	right: -250px;
	width: 250px;
	background: #FDFDFD;
	list-style-type: none;
	padding: 18px;
	margin: 0;
	z-index: 990;
	min-height: 578px;
	text-align: left;
	box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.17);
}

.admin-main-menu-column li li {
	padding: 2px 0 2px 0;
	font-size: 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
	margin-bottom: 0;
}

	.admin-main-menu-column li li li {
		padding: 0 0 0 4px;
		font-size: 11px;
		border: none;
		margin-bottom: 0;
	}

	.admin-main-menu-column li li:first-child {
		border-top: 0;
		padding-top: 0;
	}

ul.admin-simple-list {
	padding: 0;
	list-style-type: none;
	padding-top: 18px;
	font-size: 14px;
}

.admin-simple-list a {
	color: #00b3ea;
	padding-bottom: 8px;
}


.search-products {
	float: right;
	display: block;
	border: 1px solid #efefef;
	width: 300px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
	font-size: 13px;
	padding: 8px;
	background: #efefef;
}

.list-action-bar, .item-action-bar, .pager-container, .store-selection-bar {
	padding: 14px;
	background: #EAEAEA;
	border: solid 1px #ddd;
	width: 100%;
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.7);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	display: inline-block;
}

	/* Remove the bottom margin from labels in the pager so they vertically align correctly */
	.pager-container label {
		margin-bottom: 0;
	}

.list-action-bar, .item-action-bar {
	text-align: right;
}

.inline-action {
	display: inline-block;
}

.list-filter-bar {
	padding: 8px;
	background: #F5F5F5;
	margin: 8px 0;
	border: solid 1px #ddd;
}

.list-filter-bar-label {
	border-right: solid 1px #ddd;
	margin: -8px 15px -8px -8px;
	padding: 8px 15px;
	float: left;
	line-height: 34px;
	background: #eee;
}

.other-actions {
	float: left;
	margin-right: 8px;
}

.filter-heading {
	padding: 8px;
}

	.filter-heading .panel-title {
		line-height: 38px;
		font-size: 18px;
	}

/* Minimize vertical whitespace when the filter actions are the only controls in a row */
.filter-actions-container:only-child label {
	display: none;
}

.filter-actions {
	margin-left: 8px;
	text-align: right;
}

.col-list-action-bar {
	margin-bottom: 4px;
}

.horizontal-radio-helper {
	display: inline-block;
	vertical-align: middle;
}

	.horizontal-radio-helper input[type='radio'] {
		margin: 2px 4px 5px 15px;
		vertical-align: middle;
	}

		.horizontal-radio-helper input[type='radio']:first-child {
			margin-left: 4px;
		}

html body .RadInput_Default .riTextBox {
	line-height: 20px !important;
	padding: 6px 12px !important;
	margin: 2px !important;
	font-size: 14px !important;
	color: #555 !important;
	font-family: "source_sans_proregular",sans-serif !important;
}

.store-dropdown {
	display: inline-block;
	z-index: 1001;
}


.main-breadcrumb {
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	padding: 0;
	padding-top: 7px;
	font-size: 12px;
	color: #aaa;
}

.home-user-heading {
	padding-bottom: 32px;
}

.button-test {
	text-align: center;
	display: inline-block;
	font-size: 15px;
	vertical-align: top;
}

.short-form {
	width: 46%;
	display: inline-block;
}

.alternate {
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	background: none repeat scroll 0% 0% #FDFDFD;
}

.rgCommandCell {
	padding: 8px !important;
	text-align: right;
}

.shipping-rates-table td,
.shipping-methods-table td {
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #666;
}

.table > tr > td,
.table > tbody > tr > td {
	word-wrap: break-word;
}

.wrap-text {
	word-wrap: break-word;
}

/*collapse panels*/
.panel-title a {
	display: block;
	outline: 0;
}

	.panel-title a:hover {
		color: #666;
	}

	.panel-title a[data-toggle='collapse']:before {
		content: "\f146";
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.panel-title a.collapsed[data-toggle='collapse']:before {
		content: "\f0fe";
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

.toggle-switch:focus {
	outline: none 0;
}

.toggle-wrap {
	overflow: hidden;
	position: relative;
	background: #ccc;
	height: 36px;
	width: 100px;
	border-radius: 18px;
	display: block;
	border-radius: 18px;
	line-height: 36px;
}

	.toggle-wrap.on {
		background: #5cb85c;
	}

	.toggle-wrap .progress {
		height: 36px;
		position: absolute;
		width: 100%;
	}

.toggle-switch {
	position: absolute;
	height: 36px;
	width: 100%;
	display: block;
	z-index: 1;
}

	.toggle-switch .toggle {
		position: absolute;
		border-radius: 100%;
		width: 28px;
		height: 28px;
		top: 4px;
		left: 4px;
		background: #fff;
		z-index: 2;
		display: block;
	}

	.toggle-switch .toggle-bg {
		width: 100%;
		height: 36px;
		text-align: center;
		position: absolute;
		z-index: 1;
		display: block;
		border: 0 none;
	}

	.toggle-switch .toggle-off {
		color: #666;
		left: 0;
		padding-left: 36px;
	}

	.toggle-switch .toggle-on {
		color: #fff;
		padding-right: 36px;
		left: -100%;
	}

.toggle-wrap.on .toggle-off {
	left: -100%;
}

.toggle-wrap.on .toggle-on {
	left: 0;
}

.toggle-wrap.on .toggle {
	left: auto;
	right: 4px;
}

.dash-chart {
	height: 400px;
}

.RadGrid_Default.adnsf-radgrid {
	/* .white-ui-box */
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	background: #fff;
	background: -webkit-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -moz-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -o-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: -ms-linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	background: linear-gradient(left top, rgb(255, 255, 255) 02%, rgb(255, 255, 255) 95%);
	padding: 20px;
	box-shadow: 50px 50px 80px rgba(0,0,0,.07);
	margin-bottom: 24px;
	border-bottom: 1px solid rgba(0,0,0,.12);
	border-right: 1px solid rgba(0,0,0,.12);
	outline: 0;
}

	.RadGrid_Default.adnsf-radgrid table {
		font-size: 14px;
	}

		.RadGrid_Default.adnsf-radgrid table th {
			border-bottom: solid 1px #EFEFEF;
		}

	.RadGrid_Default.adnsf-radgrid, .RadGrid_Default.adnsf-radgrid .rgMasterTable {
		font-family: inherit !important;
	}

		.RadGrid_Default.adnsf-radgrid .rgMasterTable {
			border-collapse: collapse;
		}

		.RadGrid_Default.adnsf-radgrid input,
		.RadGrid_Default.adnsf-radgrid button,
		.RadGrid_Default.adnsf-radgrid select,
		.RadGrid_Default.adnsf-radgrid textarea {
			font-family: "source_sans_proregular",Arial,Helvetica,sans-serif !important;
		}

		.RadGrid_Default.adnsf-radgrid .rgPager .rgStatus {
			border: 0 none transparent;
		}

.RadGrid.RadGrid_Default.adnsf-radgrid .rgStatus,
.RadGrid.RadGrid_Default.adnsf-radgrid .rgStatus * {
	width: 0;
}

.RadGrid.adnsf-radgrid .rgRow td,
.RadGrid.adnsf-radgrid .rgAltRow td,
.RadGrid.adnsf-radgrid .rgEditRow td,
.RadGrid.adnsf-radgrid .rgFooter td .RadGrid.adnsf-radgrid .rgStatus,
.RadGrid.adnsf-radgrid .rgPagerCell {
	background: white;
	border-top: 1px solid #efefef;
	border-bottom: 0 none !important;
	padding: 8px;
}

.grid-border-bottom {
	border-bottom: solid 1px #efefef;
}


.rgPager table td {
	border: none 0 !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
	border-top: none 0;
	border-bottom: solid 2px #EFEFEF;
}

.RadGrid_Default.adnsf-radgrid .rgHeader,
.RadGrid_Default.adnsf-radgrid th.rgResizeCol {
	background: none;
	font-weight: bold;
}

.RadGrid_Default.adnsf-radgrid .rgPager {
	background: none;
}

.RadGrid_Default.adnsf-radgrid tr a,
.RadGrid_Default.adnsf-radgrid .rgFooter a,
.RadGrid_Default.adnsf-radgrid .rgEditForm a {
	color: #00b3ea;
}

.action-column {
	width: 64px;
}

.edit-link,
.add-link,
.RadGrid_Default.adnsf-radgrid tr .edit-link,
.RadGrid_Default.adnsf-radgrid tr .add-link {
	color: #44a503;
	background: #f4f9ed;
	border-radius: 12px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
	padding: 4px 12px;
}


	.edit-link:hover,
	.add-link:hover,
	.RadGrid_Default.adnsf-radgrid tr .edit-link:hover,
	.RadGrid_Default.adnsf-radgrid tr .add-link:hover {
		color: #3a8a03;
		background: #e8f3d9;
	}

.delete-link, .nuke-bomb, .clone-link, .action-link, .edit-link, .add-link, disabled-link {
	white-space: nowrap;
	display: inline-block;
	font-size: 14px;
}

	.delete-link:before, .nuke-bomb:before, .clone-link:before, .action-link:before, .edit-link:before, .add-link:before, disabled-link:before {
		font-family: FontAwesome;
		margin-right: 3px;
	}

.disabled-link, .RadGrid_Default.adnsf-radgrid tr .disabled-link {
	color: #aaa;
	background: #eee;
	border-radius: 12px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
	padding: 4px 12px;
	white-space: nowrap;
}

.clone-link, .action-link,
.RadGrid_Default.adnsf-radgrid tr .clone-link,
.RadGrid_Default.adnsf-radgrid tr .action-link,
.grid-view-edit .edit-link {
	color: #009ce5;
	background: #edfaff;
	border-radius: 12px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
	padding: 4px 12px;
}

	.clone-link:hover,
	.action-link:hover,
	.RadGrid_Default.adnsf-radgrid tr .clone-link:hover,
	.RadGrid_Default.adnsf-radgrid tr .action-link:hover,
	.grid-view-edit .edit-link:hover {
		color: #008acb;
		background: #d3f2ff;
	}

.delete-link, .nuke-bomb, .RadGrid_Default.adnsf-radgrid tr .delete-link, .RadGrid_Default.adnsf-radgrid tr .nuke-bomb {
	color: #e85100;
	background: #fff3ed;
	border-radius: 12px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
	padding: 4px 12px;
}

	.delete-link:hover,
	.RadGrid_Default.adnsf-radgrid tr .delete-link:hover,
	.nuke-bomb:hover,
	.RadGrid_Default.adnsf-radgrid tr .nuke-bomb:hover {
		color: #ce4900;
		background: #ffe3d3;
	}



/* .gridRow = edit /// gridEdit2 = Update/cancel */
.adnsf-gridview .gridRow a.action-link {
	color: #3a8a03;
	background: #e8f3d9;
}

/*tree styles*/
.selectedNode {
	color: #19437D;
}
/*help icons*/
.hover-help {
	margin: 0 4px;
	display: inline-block;
}

/*telerik pager*/
.gridPager a, .gridPager span, .adnsf-radgrid .rgNumPart a {
	line-height: 20px !important;
	padding: 0 4px;
	margin: 0 1px !important;
	display: inline-block;
	background: linear-gradient(to bottom, #E1E1E1, #C5C5C5);
	border: solid 1px #959595;
	border-radius: 2px;
	color: #585858 !important;
}

.gridPager span {
	background: #fff;
	border: solid 1px #959595;
}

.gridPager a:hover {
	background: linear-gradient(to bottom, #ededed, #d1d1d1);
	border: solid 1px #898989;
}

.gridPager td {
	border: 0 none !important;
}

.customer-history div {
	padding: 5px;
	margin: 5px 0;
}

.customer-history .recurring-wrap {
	border: 1px solid #efefef;
}
/* asp.net gridview / detailview pager */
.gridview-pager table td:first-of-type:before {
	content: "Page: ";
}

.gridview-pager td {
	padding: 0 3px;
}

.gridview-pager span {
	display: inline-block;
	border: 1px solid #333;
	border-radius: 2px;
	padding: 0 4px;
}

.validator-error-adjustments {
	float: left;
	margin: 3px 0 6px 0;
}

.table-fixed {
	table-layout: fixed;
}
/* column float fix for listing-filter dropdowns*/
.listing-filters .form-group select.form-control {
	height: 38px;
}

.multi-image-body-adjustments {
	background: #ffffff;
}

.multi-image-main-adjustments {
	background: none !important;
}

.wide-table-fix {
	table-layout: fixed !important;
	-ms-word-wrap: break-word !important;
	word-wrap: break-word !important;
}

.mappings-alignment {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	float: left;
	height: 350px;
	width: 33%;
	overflow: auto;
}

.mappings-alignment-hidden {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	float: left;
	height: 350px;
	width: 33%;
	overflow: auto;
	visibility: hidden;
}

.radio-button-align {
	float: left;
}

textarea.app-config-value-string {
	resize: vertical;
}

.error-page-icon {
	font-size: 155px;
}

.error-page-message {
	text-align: center;
	margin: 60px auto 30px auto;
}

.error-page-text {
	font-size: 20px;
}

a.error-page-icon:focus {
	color: #843534;
	outline: 0 none;
}

input[type='file'].inline-file-upload {
	display: inline-block;
}

.page-bar {
	border-bottom: solid 1px #ddd;
	margin-bottom: 20px;
}

.page-bar-links {
	padding: 8px 0;
	text-align: right;
	list-style: none;
}

	.page-bar-links li {
		list-style: none;
		display: inline-block;
	}

		.page-bar-links li a, .page-bar-links li span {
			display: inline-block;
			padding: 3px 20px;
			border-radius: 16px;
			font-size: 14px;
			-webkit-transition: background-color 0.2s ease;
			-moz-transition: background-color 0.2s ease;
			-o-transition: background-color 0.2s ease;
			transition: background-color 0.2s ease;
		}

			.page-bar-links li a:hover {
				background: #EEF0F6;
				box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
			}

		.page-bar-links li.active a, .page-bar-links li.active span {
			background: #fff;
			color: #666;
			box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
		}

/* QuickAdd */
.quick-add-field-panel {
	padding: 10px !important;
}

/*Asynchronous loading bar*/
.loading-page-cover {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 100002;
	opacity: 0.7;
}

.loading-bar-positioning {
	position: fixed;
	z-index: 100003;
	height: 2.8em;
	width: 100%;
	overflow: visible;
	margin: auto;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading-bar-text {
	color: #FFFFFF;
	font-size: 1.5em;
	padding-top: 7px;
}

.reWrapper {
	box-sizing: content-box;
}

/*caching toggle*/
.caching-toggle {
	padding-left: 10px;
}

/*dashboard graph tooltip*/
.product-graph-tooltip {
	background: #000000;
	padding: 5px;
	color: #ffffff;
}

#productsChart .nvtooltip {
	border: none;
	background-color: #000000;
	box-shadow: 20px 20px 20px rgba(0,0,0,.02);
}

#ordersChart .nvtooltip {
	color: #000000;
	padding: 0;
	border: 1px solid #000000;
	box-shadow: 20px 20px 20px rgba(0,0,0,.02);
}

	#ordersChart .nvtooltip h3 {
		color: #ffffff;
		border-radius: 0 0 0 0;
		background-color: #000000;
	}
/*end dashboard graph tooltip*/

/* shipping icon styles */
img.shipping-icon {
	width: 30px;
}

.shipping-non-selected {
	line-height: 30px;
}

/* Getting started area */

.card {
	background: -webkit-linear-gradient(135deg, rgb(242, 244, 248) 75%, rgb(255, 255, 255) 97%);
	background: -moz-linear-gradient(135deg, rgb(242, 244, 248) 75%, rgb(255, 255, 255) 97%);
	background: -ms-linear-gradient(135deg, rgb(242, 244, 248) 75%, rgb(255, 255, 255) 97%);
	background: linear-gradient(135deg, rgb(242, 244, 248) 75%, rgb(255, 255, 255) 97%);
	box-shadow: 1px 1px 3px rgba(0,0,0,.12);
	position: relative;
	color: #000;
	margin-bottom: 15px;
	border: solid 1px #99A1B3;
}

 .style-one .header-link{
 	background: #00A300;
 }

.style-two .header-link{
	background: #DA532C;
}

.style-three .header-link{
	background: #9F00A7;
}

.style-four .header-link{
	background: #2D89EF;
}

.style-one{
	border-color: #00A300;
}

.style-two{
	border-color: #DA532C;
}

.style-three{
	border-color: #9F00A7;
}

.card-content{
	padding: 15px;
	height: 146px;
}
.card-header{
	padding: 15px;
	position: relative;
	transition: all .25s;
}
.card-header:hover{
	opacity: 0.8;
}

a.header-link{
	color: #fff;
	padding: 6px 15px;
	display: block;
}
.card-link-arrow{
	font-size: 18px;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	padding: 0 15px;
	height: 100%;
	line-height: 40px;
	color: #fff;
}

.card h3 {
	font-size: 20px;
	padding: 0;
	border-bottom: solid 1px #E3E8F1;
	margin: 0;
}

.card p {
	font-size: 18px;
}
.card-icon {
	position: absolute;
	bottom: 0px;
	right: 6px;
	font-size: 46px;
	width: 56px;
	height: 56px;
	line-height: 48px;
	text-align: center;
	display: block;
}

.admin-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: 0.5;
}

.admin-loading {
	z-index: 1040;
	position: fixed;
	width: 100%;
	left: 0;
	top: 30%;
	color: #fff;
	text-align: center;
}

.admin-loading-message {
	text-transform: uppercase;
	margin-bottom: 8px;
	font-size: 12px;
}

.off {
	display: none;
}

.impersonation-dropdown{
	display: inline-block;
}

.DatetitleOnFilter {
    position:relative;
    top:30px;
}

/* Custom By JBS*/
#divPaymentInfo .positionAdjustment {
    /*margin-top: 10px;*/
}
.pm-errormsg{
    color:red;
    display:none;
}