#SystemPassword {
    height: 60px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
}
#Login {
    height: 60px;
    width: 200px;
    font-size: 40px;
    margin-top: 15px;
}
#ClearLoginSession {
    height: 30px;
    width: 200px;
    font-size: 20px;
    margin-top: 15px;
}
.loginbox{
    display:block;
    text-align:center;
}
#ErrorMSG{
    color:red;
}
.toppage_logo{
    margin-bottom:15px;
}